[2021-02-11 03:52] selwin commented on #1164
RQ has a process that sweeps started jobs and checks whether they’re still alive after their timeout has ended. Jobs that are harvested this way will be marked as failed and retried (if set).

[2021-02-13 15:37] stelmath opened #1413 "cannot pickle '_thread.lock' object when passing Redis connection object into job function"
Hello there, I trying out Python rq with a Flask app and I want to pass the Redis connection object to my job function. A very simplified example would be:

In `jobs.py`:
[code]

In `app.py`:
[code]

When running the Flask app I get: `TypeError: cannot pickle '_thread.lock' object` because I am passing the redis connection to the job function. What is the proper way of doing that? (Using Python 3.

[2021-02-13 22:32] ffeldhaus opened #1414 "Implemenent Periodic & Repeated Jobs similar to what rq-scheduler offers"
As rq now offers scheduled jobs and a lot of functionality from rq-scheduler, please also implement [Periodic & Repeated Jobs similar to what rq-scheduler offers](https://github.com/rq/rq-scheduler#periodic--repeated-jobs).

[2021-02-14 22:38] aparcar opened #1415 "Ressource locking for parrallel workers"
Hi, I'm running rq worker using multiple work directories to work on files. I'd like to run multiple workers in parallel on a shared "meta workdir". However it could happen that two jobs request at the same time to work on "resource A", what would cause breakage due to file modifications in parallel.

Is it possible to keep track of used resources by a worker, e.g via tags so that the next fetched

[2021-02-18 10:07] AkashKabra11 opened #1416 "Synchronous Job Results are getting cleared after default time even after specifying result_ttl = -1"
Hi,
I am trying to make synchronous jobs using rq. I am instantiating the queues like this:

[code]

Now, when I create a job like this:
[code]
**The Synchronous job results are not persisted after 500 seconds**. On the other hand, job results are persisted for asynchronous jobs. On a quick debug, I found that **the issue lies in this line**:
https://github.com/rq/rq/blob/fc7940c77b69704ad6c059385

[2021-02-18 10:31] jtfidje opened #1417 "send_stop_job_command uses built-in Job class and does not consider custom serializers when doing Job.fetch"
I have both a custom job class and use the JSON serializer, but if I call send_stop_job_command both neither my CustomJob class or the serializer is used when fetching the state from redis, and therefore causing the application to fail due to a unpickling error.

[2021-02-18 17:38] dmd opened #1418 "objc[54401]: +[__NSCFConstantString initialize] may have been in progress in another thread when fork() was called."
Putting this here so anyone else using rq with requests can find it.

On a brand new install of rq, e.g., create a new python3.9 virtualenv and pip install rq:

[code]

Then,

[code]

*The solution is:*

[code]

[2021-02-18 17:38] #1418 closed

[2021-02-19 11:45] andrewvaughanj opened #1419 "Question: `depends_on` and sub jobs making other jobs"
## tl;dr

Is it possible to dynamically append to the dependencies of a job that hasn't started?

## Situation

In a workflow I am trying to create, I would like to have one job create an unknown number of children jobs, which in turn will create a further unknown number of grand-children jobs, and have a final job at the end that "joins" all the data at the end.

I guess conceptually it might loo

[2021-02-19 14:37] andrewvaughanj commented on #1419
Okay, so I have a "working solution", but I don't consider it particularly graceful:

### `example.py`

[code]

### `example_lib.py`:

[code]

## Question

Is there a way to make a job have an "infinite" number of retries?

[2021-02-19 14:52] andrewvaughanj commented on #1419
It looks like (and I am not 100% that this does work), but that you can change `curr_job.retries_left` _before_ doing the reschedule.

If you do this, you can keep setting the number of retries to 1, and then `rq` continually re-tries.

[2021-02-23 10:35] taomujian opened #1420 "priority useless"
My worker code is:
def worker(listen):
    with Connection(redis_conn):
        worker = Worker(map(Queue, listen))
        worker.work()

def run ():
    listen = ['high', 'medium', 'low']
    try:
        cpu_num = 5
        p = Pool(cpu_num)
        for i in range(cpu_num):
            p.apply_async(worker, args=(listen,))  # 开启worker
        p.close()
        p.join()
    except Exception as e

[2021-02-24 11:23] selwin commented on #1420
If you want low queue to be processed, you can run a worker for high queue and one for low queue.

[2021-02-24 11:23] #1420 closed

[2021-02-24 11:32] selwin commented on #1406
@bielcardona I left a [comment](https://github.com/rq/rq/pull/1412#issuecomment-785007559) on the PR. I'd also like if we can pull this into RQ!

[2021-02-24 11:36] selwin commented on #1413
Recent versions of Python can't pickle Redis instances. So you'd need to pass Redis' connection params instead of the instances into RQ.

[2021-02-24 11:36] #1413 closed

[2021-02-24 11:39] selwin commented on #1415
This is not a feature that's currently in RQ. Do you have any suggestions or ideas as to how we can implement this?

[2021-02-24 11:43] selwin commented on #1402
Can't you just split the jobs into different queues that are executed by different worker classes? (for example CPU heavy jobs and GPU heavy jobs).

If what you want is to change which queues workers listen to at runtime, we actually already have the infrastructure for that. The latest version of RQ lets you [send commands](https://github.com/rq/rq/blob/master/rq/command.py#L12) to workers that ar

[2021-02-24 11:43] selwin commented on #1417
Can you open a PR for this?

[2021-02-24 11:44] selwin commented on #1414
I'm open to this, but before this is implemented, I'd also want RQ to be able to keep a history of results from job executions.

[2021-02-24 12:06] jtfidje commented on #1417
Sure 🙂 let me think through a good way to do it and I'll open a PR.

On Wed, Feb 24, 2021, 12:44 Selwin Ong <notifications@github.com> wrote:

[2021-02-24 22:18] zachgoulet opened #1421 "Please create a 1.8.0 release"
It appears that [documentation](https://python-rq.org/docs/workers/#worker-arguments) references features available in version 1.8.0:

Though it appears as though version 1.7.0 is the newest available at [pypi.org](https://pypi.org/project/rq/#history). Could a version 1.8.0 be created from the current master branch?

[2021-02-25 02:18] taomujian commented on #1420
I not want low queue to be processed, I want low queue to be block when high queue isn't empty

[2021-02-25 03:57] selwin commented on #1420
If you do `rq worker high low`, it will always dequeue from `high` queue first. `low` will only be processed when `high` is empty.

[2021-02-26 13:29] hossein761 commented on #758
I removed celery from my project to use a "simpler" tool, but having the same issue. my Redis version 5.0.10. Using django, I see the jobs in the default queue with the status: scheduled they are stuck in there.

[2021-02-26 14:53] clavigne opened #1422 "Pickle version incompatibility are not logged"
Hi,

I had a problem with jobs failing silently while running in Docker. I eventually realized that I was running workers in python 3.7, but was enqueuing calls from python 3.9 (an easy enough mistake to make when orchestrating different containers).

What happens in this case is that the job gets enqueued, the worker starts execution but then the job fails. With `--logging_level DEBUG`, this is t

[2021-02-27 03:14] selwin commented on #1415
@aparcar the discussion in [this PR](https://github.com/rq/rq/pull/1412#issuecomment-786993853) also relies on resource sharing between workers so this is something we can work on long term.

[2021-02-27 03:19] selwin commented on #1419
We can add an API to add a dependency to a job if that's what you need, so something like `job.add_dependency(job_2)`. But even with this, the solution won't be bullet proof because you have to consider the possibility of race conditions.

[2021-02-27 03:20] selwin commented on #1416
Please open a PR for this :)

[2021-02-27 03:22] selwin commented on #1422
This line indicates that the job's execution has failed:
`09:20:42 Handling failed execution of job 586b3d13-cba9-436a-8b6f-45fc2c3bb8f0`

[2021-02-27 08:00] vitalik opened #1423 "Is there a way to have queue with randomly shuffled jobs ?"
Currently you can insert job either to the start or to the end of the queue

Is there a workaround to insert job into random position ?
(or in a worker fetch job from random position)

[2021-02-27 23:23] clavigne commented on #1422
Sorry I realize now that I wasn't super clear.

The "bug" (more like UI issue really) is not the failure but the fact that it is (AFAIK) only logged [at DEBUG](https://github.com/rq/rq/blob/fc7940c77b69704ad6c059385fd530c850e5f0be/rq/worker.py#L897) without information as to why it failed, so it's rather easy to miss.

I don't know if that's the desired behaviour but it is rather quiet compared to

[2021-02-28 00:56] selwin commented on #1422
Ah I see. Yes that makes sense. Feel free to open a PR for this. Thanks for the clarification!

[2021-02-28 04:18] thomasmatecki commented on #1404
I think this issue should be reopened as it appears to still occur(new failing test):
https://github.com/rq/rq/blob/9bef2aa5a49d894bd03bd772b670e207f8edd0ef/tests/test_queue.py#L530

I agree with @jtfidje that this is not related multiple dependencies, though a few folks documented it in #1170.

The crux of the issue is that [`enqueue_job`](https://github.com/rq/rq/blob/dcbbd067f0e94637f475839eca0

[2021-02-28 07:50] andrewvaughanj commented on #1419
Woah, that could be really great!

Are you saying "racy" in terms of making sure the job we want to append to hasn't yet started, or "racy" in terms of two jobs trying to add a dependency concurrently?

I actually don't think it is possible for my use-case that this could be racy for the first kind (appending after it has already started) -- these dependent jobs would only get appended by *already

[2021-02-28 17:58] thomasmatecki commented on #1423
You could probably implement a [`Queue`](https://python-rq.org/docs/workers/#worker-arguments) class that does this. The normal queue is implementing using Redis' `RPUSH` and `LPOP` commands. There is no Redis command to _either insert or remove a random item from the list at key X_. Perhaps one could cook up a queue backed by a Redis set and use [`SRANDMEMBER`](https://redis.io/commands/srandmemb

[2021-03-01 01:27] selwin commented on #1419
Obviously the implementation on RQ's end needs to handle race conditions, but you application logic could also have race conditions.

It could, now we just need someone to work on it ;)

[2021-03-02 11:56] andrewvaughanj commented on #1419
@selwin I am 100% happy to give this ago -- I am contributor to a number of other open source projects, but I have a few questions as I am new to `rq` (as a contributor).

After looking at things, it seems that there are few main areas where dependencies are **read**:

- [`Job.dependencies_are_met`](https://github.com/rq/rq/blob/016da14723d21f6801b19cbff97f2fb9bee5c5db/rq/job.py#L819)
- [`Queue.en

[2021-03-02 21:07] bmbouter opened #1426 "Increasing `default_worker_ttl` does not cause more heartbeats, just one to occur later"
We use a custom worker subclass which specifies `default_worker_ttl`. We also override the heartbeats method to report to a few other systems and then call `super()` so RQ can do it's thing normally. What we've noticed is that:

1. A `default_worker_ttl=30` will heartbeat 15 seconds after the previous heartbeat.
2. A `default_worker_ttl=60` will heartbeat 45 seconds after the previous heartbeat.
3

[2021-03-05 18:33] jtfidje commented on #758
Related to this, we now experience an issue where a job gets stuck in the `deferred` state. occasionally when a job depends on another, it won't get queued when the first job finishes. I can't reproduce it by "will", but if I queue the same set of jobs enough times it always happens eventually.

[2021-03-07 02:45] noahg2 commented on #1164
I wonder if there is any update on when this issue might be resolved (e.g. by #1372), or if some additional contributions might be needed. Getting a fix for this in place would represent a significant quality-of-life improvement for one of my projects, since container eviction can currently result in users' long-running tasks spending a significant amount of time in a "zombie state" before the fai

[2021-03-07 03:06] selwin commented on #1164
If we want to detect long running jobs abnormally terminating early, we'll need to have a way to check whether the worker running the job is still alive.

One way to do this would be to check the worker running the job's last heartbeat. I'd be happy to accept a PR for this.

How I think we should do this:
1. Create a `job.worker_is_still_alive()` that returns whether the worker running the job is

[2021-03-07 13:42] waldner commented on #998
Is this going into a release in the near future? Currently I have to restart 900+ workers whenever a brief interruption to redis occurs.

[2021-03-07 14:16] selwin commented on #998
Fixed in https://github.com/rq/rq/pull/1387.

I’ll make a release sometime in the next few weeks.

[2021-03-07 14:16] #998 closed

[2021-03-07 18:29] vijtad opened #1429 "register_dependency - Invalid input of type: 'list'. Convert to a bytes, string, int or float first."
I am getting this error when calling register_dependency.
**Invalid input of type: 'list'. Convert to a bytes, string, int or float first.**

I created depends_on with multi-dependent jobs and following is the code snippet
[code]

I am running Redis version=6.2.1
Can any one let me know how to fix this error.
I want to un list of jobs that need to be completed before running final job.

[2021-03-08 10:14] jammie19 commented on #1429
What version of `rq` are you using? This happens to me on the latest release `1.7.0` but not on `master`. Master is the only version that has multiple dependencies implemented and `1.7.0` only accepts a single Job in the `depends_on` parameter.
See here for master installation instructions: https://python-rq.org/#installation

Also, you should pass your connection into `Job.create()`. I got an err

[2021-03-08 18:38] JLHasson commented on #1388
Thanks @selwin! Will use that in the future 👌

[2021-03-08 18:38] #1388 closed

[2021-03-09 08:48] minecraft2048 opened #1430 "How do I start/stop worker based on a condition?"
Lets say I want my worker to execute jobs only when a network connection is up, and stops executing jobs when that network connection is down, and retry when it is back up. How do I do that? The documentation says that there is a way to make custom worker class: https://python-rq.org/docs/workers/#custom-worker-classes but it doesn't show what methods and things I need to implement so that my cust

[2021-03-09 09:01] minecraft2048 commented on #1430
I found some comments that asks similar things: https://github.com/rq/rq/issues/717#issuecomment-457991189 and https://github.com/rq/rq/issues/717#issuecomment-769012307

[2021-03-09 17:14] vijtad commented on #1429
@jammie19  Thanks for your help.
I was using release 1.7.0
master branch worked for me.
When is this planned to release ?

[2021-03-10 01:08] selwin commented on #1426
If you're running into load or IO issues, having more heartbeats is not the answer. Decreasing the worker TTL will actually cause more load because workers will try to dequeue and send heartbeats more often.

What you want here is to actually increase the grace period before the worker key expires. Currently this is set to [60 seconds](https://github.com/rq/rq/blob/master/rq/worker.py#L686). You m

[2021-03-10 16:28] bmbouter commented on #1426
Thank you for the reply/discussion.

I need to clarify the I/O root cause is not these heartbeats, so increasing/decreasing won't affect the issue either way. In [our subclassed worker](https://github.com/pulp/pulpcore/blob/master/pulpcore/tasking/worker.py#L181), when a heartbeat occurs it [writes it into postgresql](https://github.com/pulp/pulpcore/blob/6cc9d4935b2e5eb09a8e5270b20bf75a9668954b/p

[2021-03-12 12:59] Bipulkumarsingh opened #1432 "MySQL query failing to fetch data for more than 8 columns"
I am not sure why this is happening, I have a job that queries the database and performs other operations on it.
[code]
#### Error message:
`object of type 'int' has no len() (field 9th_column_name)`  # got this error for 9th column if 9th column is present in above select query.

[2021-03-13 13:42] vijtad commented on #1421
First time, I ran multi-dependencies job containing a list of 100 jobs chained with 21 instances, it ran successfully.
When I ran the same job, second time, I get following error,

[2021-03-16 02:14] aparcar commented on #1415
The referenced PR was reopened [here](https://github.com/rq/rq/pull/1425).

I like the idea to split all my resources (~50) into different queues and add some sort of locking to it, will try to give an update in a bit.

[2021-03-16 05:30] selwin commented on #1415
Ok @aparcar . Let me know what you come up with.

[2021-03-17 11:13] jtfidje commented on #580
@selwin what is the status here? Currently seeing some strange issues in production ( Using Sentinel ) where suddenly RQ cannot find a job in Redis. It seems like the job has just vanished, as it has been written to redis at least once.

[2021-03-17 11:28] selwin commented on #580
I looked into this a few times but were unable to find anything wrong with the code so I'll close this issue. @atainter fixed his issue by [upgrading Redis cluster](https://github.com/rq/rq/issues/758#issuecomment-776196743) version so it's actually a Redis issue.

[2021-03-17 11:28] #580 closed

[2021-03-17 11:45] LorenRd opened #1433 "Job queued but not run"
I'm having issues enqueuing jobs, they seems well enqueued but the worker doesn't do anything:

The process I'm doing is the following:

 1. Run redis server on localhost:

[code]

 2. Run the worker on other bash:

[code]

 3. Run my python demo code (This code works without redis queues in the async way):

**main.py**
[code]

**lightquery.py**
[code]

 4. After running the code the execution end

[2021-03-17 11:57] jtfidje commented on #580
Thx for you super-quick response :)

[2021-03-17 13:33] LorenRd commented on #758
Just opened this issue https://github.com/rq/rq/issues/1433 Can someone help?

[2021-03-17 16:25] louisabraham opened #1434 "SimpleWorker does not use new version of code"
After changing the code of a function, SimplerWorker still uses the previous code.
I understand it's not a bug but it should be documented.

[2021-03-19 14:48] brettnolan commented on #886
Using this method, are you still able to watch the output of the currently executing job by issuing 'rq worker'?

[2021-03-19 18:59] zsblevins commented on #758
An additional bit of context to add. We hit this bug again in another application when we switched from the default Worker to SimpleWorker (to workaround issues with GRPC streaming being incompatible with forking). It occurs VERY frequently with the move to SimpleWorker.

[2021-03-19 19:06] zsblevins commented on #580
So I added this on the other issue, but a Redis engine upgrade absolutely does not resolve the problem. I am not certain why is fixed things for @atainer, but it definitely did not resolve the bug for my application.

[2021-03-21 19:07] LorenRd commented on #1433
Solved, the problem was the import use
[code]

instead of:
[code]

[2021-03-21 19:07] #1433 closed

[2021-03-21 19:08] homeworkprod commented on #1421
I'd also welcome a new release – to provide my users with #1403 in production without custom patches.

[2021-03-22 05:48] minecraft2048 opened #1435 "rq suspend documentation"
https://github.com/rq/rq/blob/master/rq/worker.py shows that you can suspend worker by using `rq suspend`, but the behavior is not documented anywhere in https://python-rq.org/docs/workers/ . What does it do?

[2021-03-24 23:22] thomasmatecki commented on #1432
@Bipulkumarsingh This looks more like a problem with your processing of the data returned from the query than an issue with RQ.

What line is the exception occurring at?

[2021-03-25 02:13] tshead commented on #1421
+1 for a 1.8.0 release, I’m anxiously awaiting the JSON serializer so I can use RQ across Python versions.

[2021-03-26 16:14] KessoumML opened #1436 "depends_on issue"
Hello,
I have a use case where I need to defer jobs until another queue is empty (no waiting/executing/deferred jobs there).
I'm using depends_on many jobs right now, but I don't know if `depends_on` is the only way to defer jobs that needs to wait for others jobs to finish.
According the current implementation of `depends_on`, if a job is failed the deferred job will wait for ever.
I would like t

[2021-03-29 14:09] chen19901225 opened #1437 "does rq support log-format by config_file?"
because such string  '--log-format="[$(asctime):%(levelname)s--%(name)s] %(message)s" ' will cause supervisor config error

[2021-03-30 14:15] guybe7 commented on #1276
hi @selwin

i'm also affected by this issue

the fix proposed (and implemented) for this issue (longer TTL) just makes the problem more unlikely to happen but doesn't eliminate it completely.
the root cause is that not all operations verify the key is still volatile. moreover even if you do first EXPIRE the key and then modify, there's no guarantee that by the time of the modification the key hasn

[2021-03-30 19:25] aparcar commented on #1415
@selwin hello again, I couldn't find a proper way to implement this. I've looked at #1425 but don't see how I could in-cooperate resource locking there. Rather than having individual queues it'd need a *meta-state* which contains a list of active jobs, or at least of active resources.

Do you have any thoughts on how to handle it?

[2021-03-31 01:13] selwin commented on #1426
So you have an external monitoring system that's monitoring RQ workers, got this.

Actually this is not correct, during job execution time, the worker sends a heartbeat once every `job_monitoring_interval` which defaults to 30 seconds, code here https://github.com/rq/rq/blob/master/rq/worker.py#L765.

So this leaves monitoring the worker during the time it's waiting for job. If you want to make th

[2021-03-31 01:17] selwin commented on #1436
I plan on introducing an `on_success` and `on_failure` callbacks which may help with this (although the specifics may depend on your exact use case).

[2021-03-31 01:19] selwin commented on #1437
You can pass in `--config myconfigfile` to RQ, but I'm not sure whether logging configurations are imported from that file. This is something I want to have though, so a PR for this would be great.

[2021-03-31 01:24] selwin commented on #1415
In terms of active jobs, we can actually get from `StartedJobRegistry`. But if you're thinking of something more specifics like having a counter of active jobs by type or by their callable name, this is actually something that I've been wanting to have.

Knowing what type of jobs are within RQ will enable features like uniqueness checking (only enqueue if there's no job of this type) and maybe you

[2021-03-31 01:47] selwin commented on #1432
This looks like an application code error rather than an RQ error. Closing this issue.

[2021-03-31 01:47] #1432 closed

[2021-03-31 04:08] selwin commented on #1430
[This reently merged PR](https://github.com/rq/rq/pull/1387) changes RQ's behavior to automatically retry when Redis is unreachable. This may solve your issue.

[2021-03-31 04:08] #1430 closed

[2021-03-31 04:10] selwin commented on #1421
Version 1.8.0 is now on PyPI. Sorry for the wait.

[2021-03-31 04:10] #1421 closed

[2021-03-31 04:16] selwin commented on #1429
Version 1.8.0 is up on PyPI. Closing this issue.

[2021-03-31 04:16] #1429 closed

[2021-03-31 08:08] KessoumML commented on #1436
I see, it looks more flexible than coupling `depends_on` result to success status, I wonder if I could take a look and solve this, could you accept PR?

[2021-03-31 08:28] selwin commented on #1436
I’d be happy to accept a PR implementing this. To keep the scope small, we can start with on_success callback. Once that goes in, we can make another similar PR for on_failure.

[2021-03-31 09:53] homeworkprod commented on #1421
Thanks!

[2021-03-31 14:38] jammie19 opened #1438 "Documentation contains deprecated pip install format"
Since pip 21.0.1 the format for pip installation from GitHub has changed.
In the rq docs the cutting-edge download command is `pip install -e git+git@github.com:nvie/rq.git@master#egg=rq`
This no longer works on newer versions of pip. It should be `pip install git+https://github.com/nvie/rq.git@master#egg=rq`

[2021-03-31 15:25] andrewvaughanj commented on #1419
@selwin any thoughts on the best way to start this?

[2021-03-31 17:44] tshead commented on #1421
Thank you!

[2021-04-01 10:00] jammie19 commented on #1438
Fixed by #1439

[2021-04-01 10:00] #1438 closed

[2021-04-01 15:08] homeworkprod commented on #1421
@selwin I noted that my fix doesn't appear in the changelog. But then again, maybe I'm the only one caring about it anyway ;)

[2021-04-02 10:00] peetysmith commented on #1309
Having the exact same problem, how did you remove python-rq and unbind rq?
Whenever I try apt-get remove python-rq I get an error E: Unable to locate package python-rq

[2021-04-02 21:01] rcarmich opened #1441 "Feature request: specify failure job"
Currently I have a scheduled job that reviews the FailedJobRegistry at some interval to attempt to handle failures gracefully. However, it would be really helpful if we could specify a job to run if any job in my depends_on chain fails - like a "finally" clause in try/catch.

For example I have an entity stored in Redis that keeps a Status field updated for each job in a series of steps. It would

[2021-04-05 10:33] radheygupta opened #1442 "Suspend only one worker not all of them"
I have a scenario, where I have three queues and three workers(one worker for each queue).
I want to Suspend one worker in night and resume it in morning as some dependencies are only available in business hours for this worker.

As per my understanding `rq suspend` will suspend all the three workers. Any easy and reliable way to suspend and resume only desired worker?

As a work-around, currently

[2021-04-07 22:37] nzjrs commented on #1415
FWIW one common application of this feature, in other systems, is sharing of GPU resources among multiple queues which perform different GPU operations

[2021-04-08 20:24] guettli opened #1444 "Importing rq is three times longer than importing celery"
I am unsure if I should use "celery" or "rq".

I am looking for a light-weight solution and my gut feeling told me that importing celery will be much slower than importing rq.

But the opposite is true. At least on my device:

[code]

[code]

I measured this several times - same result.

My prejudice was wrong. Why is importing rq three times slower?

https://stackoverflow.com/questions/67010327/w

[2021-04-09 05:01] Cody-Coleman opened #1445 "ScheduledJobRegistry wont run jobs with times in the past"
Trying to use the scheduled jobs registry to enqueue a job with a random time between 0 and 60 seconds. When the job gets picked up it checks some additional data if it should run and if there already is a task running it will re-queue itself with a random timer.

Submitting 100s of jobs this way works pretty well but I get about 30 that all show up in the registry.get_expired_job_ids() and have e

[2021-04-09 06:33] guettli commented on #725
AFAIK Celery supports this: https://docs.celeryproject.org/en/stable/userguide/tasks.html#Task.rate_limit

[2021-04-09 06:53] cwazuidema commented on #725
@guettli
Thanks for letting me/us know!

I was in the same boat as you, deciding between rq and celery.
I believe I went for rq for its simplicity.

However a rate limiter on a queue will certainly make rq the better product (for my use case).

That being said, I still you rq for my project and it's working fine.
I just create less workers when I hit the rate limit.

[2021-04-09 16:01] Cody-Coleman commented on #1445
Just some additional info. When I pick one of these jobs in the `registry.get_jobs_to_schedule()` list and try to retrieve it, I get:
[code]
So are these scheduled jobs failing because the job object is never getting created?

[2021-04-10 07:19] spacegoing opened #1446 "Unreasonably high CPU usage"
I'm new to rq, I enqueued my job normally and found the CPU usage is unreasonably high. Normally the job I submitted only take 1 CPU, but submitting with rq job and executing with `rq worker` it will takes nearly 30 CPUs. I would love to know what am I doing wrong?

[how I enqueue](https://i.stack.imgur.com/4spS1.png)
[CPU usage](https://i.stack.imgur.com/ZkjMS.png)
https://stackoverflow.com/quest

[2021-04-11 17:46] majonathany opened #1447 "How many workers should I have running in relationship to the number of cores I have?"
Hi,

I use an EC2 instance with 8 cores - and I realize that right now I've only been testing with 1 or 2 requests max at a given time. Right now, with the architecture of our microservice, one request typically uses one worker.

It dawned on me that if only one worker is running, we can't actually make use of the different cores because the cores can only be occupied by one python process at a gi

[2021-04-14 15:16] Cody-Coleman commented on #1445
We've seen where we have say 20 or so jobs in the scheduled registry with times to run sometime in the future, and another job will get picked up that takes a while to run (say 5 or 6 minutes) and during that time if any jobs had execution times that will have expired while the worker was working on that long job, they never get picked up again and we have to clear them out completely. So it reall

[2021-04-15 07:13] rpkak opened #1448 "Docker entrypoint"
If you want to start rq with docker and use the dockerfile in the docker folder of this repo you can use:
[code]
But you can't use any args for rq like specifying the URL of the redis container:
[code]
returns:
[code]
Instead you have to use this to override the CMD:
[code]
If you would use ENTRYPOINT instead of CMD in the Dockerfile you could just call:
[code]

PS: It would be nice if some offici

[2021-04-20 00:37] #1448 closed

[2021-04-20 00:44] selwin commented on #1445
Looking at your code, it seems like you're reusing `job_id` which should be unique. Try fixing this line here and see what happens `job_id=f"{vm_name}_{queue}_transport_sequence".

[2021-04-20 00:46] selwin commented on #1447
It depends on the functions being executed by the workers themselves. You'll just have to experiment with your workload and see what works best for you. RQ itself is very lightweight, it's the type of jobs they run that will affect your CPU's workload.

[2021-04-20 00:46] #1447 closed

[2021-04-20 00:47] selwin commented on #1446
Check the number of workers that you run. It could be that you're running a high number of workers which cause all of them to pick up jobs at the same time.

[2021-04-20 00:47] #1446 closed

[2021-04-20 00:49] selwin commented on #1441
Yes, I agree. Actually adding a success/failure callback is high on my priority list. It would be nice to be able to do something like `queue.enqueue(foo, on_success=bar, on_failure=baz)`.

I haven't had time to do this yet, but would gladly accept a PR for a feature like this!

[2021-04-20 00:51] selwin commented on #1444
I'm actually not sure about this, it hasn't been a problem in actual real world use for me. Having said that, if someone wants to contribute an improvement in this area, I'll be more than happy to accept a PR.

[2021-04-20 00:52] selwin commented on #1442
We don't have that kind of feature at the moment. I'm closing this issue, but I'd gladly accept suggestions or ideas if there's any concrete implementation plan.

[2021-04-20 00:52] #1442 closed

[2021-04-20 00:54] selwin commented on #1434
I have actually not tested this myself. Are you implying that RQ's default worker would use the new version of the code whenever there's code changes, but not `SimpleWorker`?

[2021-04-20 02:35] spacegoing commented on #1446
@selwin Thanks for your message, but it is not the case. I only had 1 worker running but still it has that high usage

[2021-04-20 06:05] louisabraham commented on #1434
Yes. It's because the default worker spawns a new process and imports all modules again whereas SimpleWorker is typically used to avoid reimporting every time.

[2021-04-20 13:50] tboulogne commented on #1332
hello @selwin,

What about cron with the in-house scheduler ?

Thanks for all !

Thierry

[2021-04-20 19:40] guettli commented on #1444
I am using a simpler solution now, so I won't provide a PR. I just wanted you to know about this. Feel free to re-open.

[2021-04-20 19:40] #1444 closed

[2021-04-20 22:31] waldner opened #1450 "Some Jobs not removed from redis"
I have a number of jobs (a minority) that, once completed, are not removed from redis.
Usually, I see the key eg `rq:job:a48172a7-4e25-447e-9ac2-8b3c208bbf3c`, with TTL: -1 and Type: Hash, and the only field it has is `last_heartbeat` and its value is a timestamp (eg `2021-04-20T00:03:44.049309Z`).
Since I run many jobs, these ghost jobs tend to pile up in redis and I have to periodically clean th

[2021-04-21 09:17] xdandyx opened #1451 "why parent process doesn't exit after worker is forked"
I know that rq starts the worker by fork, and I want to realize the function of "turning the worker into a background orphan process". Therefore, I use the child process A to start the worker, and kill the child process A (worker's parent process) after the worker starts, but this method does not work in django, I will find that process A always exists. It stands to reason that rq's fork only repl

[2021-04-25 20:19] rpkak opened #1452 "Docker image on dockerhub/ghcr.io"
As referenced in #1340 and #1448 there should be an official docker image from rq on dockerhub (or ghcr.io).

If some official pushs the image to dockerhub, I could create a github workflow for automated pushing of new versions.

[2021-04-26 22:24] abhisuri97 commented on #758
I came across this issue as well. Killing the worker thread and restarting seems to "fix" it, but I'd rather not have to resort to that in production. Does anyone have any idea what to do here?

[2021-04-26 23:04] essadek commented on #758
I'm having the same issue, I noticed that when jobs are chained one after one immediately the jobs are not executed, however if there is some interval in between the jobs get executed.

[2021-04-29 12:34] alella opened #1453 "RQScheduler only uses DefaultSerializer"
Workers could be started with the `--serializer` argument but the corresponding scheduler doesn't use it. This becomes a problem when setting a job's meta fields. The scheduler fails to fetch the jobs over [here](https://github.com/rq/rq/blob/master/rq/scheduler.py#L156)

Here are steps to reproduce the problem:
[code]

[code]

[2021-04-30 09:02] ll125498a commented on #469
@selwin Hello, I met this situation now, but this link is invalied can you share this solution ? Thanks.

[2021-05-02 04:56] nzjrs opened #1456 "Python 2.7 Support"
(yes I know it's obsolete and you will likely close this issue. In the meantime this is more a question in case anybody already has this in their local vendor fork of RQ)

I need to keep compatibility with a 2.7 stack so I am wondering if anyone as a custom fork that maintains 2.7 compatibility **and has the JSON serializer support**.

[2021-05-04 11:01] pwws opened #1457 "Can't enqueue staticmethods"
Worker's can't run class methods decorated with `staticmethod`. Consider the following code and let's assume it's in `staticmethod_test` module:
[code]
Enqueuing `TestClass.test_job` is successful:
[code]
but a `worker` can't handle it:
[code]

Apparently, I'm not the only one that had this problem: https://github.com/rq/rq/issues/582#issuecomment-368455932, https://github.com/rq/django-rq/issues/

[2021-05-04 11:07] pwws commented on #1457
I have prepared a fix for this problem: https://github.com/rq/rq/pull/1458

[2021-05-04 23:52] daverin commented on #758
same findings as @abhisuri97 in production. I've spotted it a few times locally in my docker compose environment, but thus far I haven't been able to consistently reproduce the issue.

[2021-05-06 04:03] dpereira commented on #758
This report looks eerily familiar:

https://github.com/redis/redis/issues/7128

We had this issue in production, and went through the following changes:

 - Removed rq in favor of an in-house client lib for queueing/dequeing messages.
 - Changed redis client implementation
 - Finally, replaced redis and the whole implementation with one based in Active MQ.

 We only stopped seeing behaviors like t

[2021-05-06 04:40] selwin commented on #758
So it’s a Redis issue? If it is, then unfortunately there’s nothing that we can do.

[2021-05-06 04:51] dpereira commented on #758
I can't say 100% it was redis. Can't say it isn't.

It could be a bug related to incorrect redis usage in rq that we carried in our implementation as well, for example. Just wanted to share our experience, in the hope this helps with the troubleshooting.

[2021-05-06 08:56] TimoFrenzel opened #1460 "[python 3.5 - python 3.10 | Redis 6.2.0 - cluster] KeyError: 'redis_version'"
Good day,
I get the following errors:

Traceback (most recent call last):
  File "/opt/tools/.\worker.py", line 19, in <module>
    result = q.enqueue(main)
  File "/usr/local/lib/python3.10/site-packages/rq/queue.py", line 419, in enqueue
    return self.enqueue_call(
  File "/usr/local/lib/python3.10/site-packages/rq/queue.py", line 366, in enqueue_call
    job = self.enqueue_job(job, at_front=a

[2021-05-06 20:41] levkk opened #1461 "Jobs not requed on worker termination"
If the worker is terminated with `SIGTERM` or any other signal, the job it was running is not re-queued and becomes lost. This is analogous to not having SuperFetch in Sidekiq.

[2021-05-07 04:14] selwin commented on #1457
Fixed in #1458

[2021-05-07 04:14] #1457 closed

[2021-05-07 04:30] selwin commented on #1460
I don't personally use redis-cluster so if you have a PR that can fix this, I'm more than happy to merge it in.

[2021-05-07 04:35] selwin commented on #1461
To fix this, when expired jobs are being cleaned up, it needs to be requeued if retry is set. PR to fix this is welcome.

[2021-05-07 04:36] selwin commented on #1452
I'm not familiar with docker hub, do you know how we should get started with this?

[2021-05-07 04:37] selwin commented on #1451
Don't roll your own worker process, you should use something like https://github.com/rq/django-rq instead.

[2021-05-07 04:37] #1451 closed

[2021-05-07 04:40] selwin commented on #1456
Closing this issue :)

[2021-05-07 04:40] #1456 closed

[2021-05-07 04:43] selwin commented on #1450
Hmm, are you using the latest version of RQ? My guess would be that there's a race condition happening somewhere in your server infrastructure that causes heartbeat to arrive after the job has been completed.

[2021-05-07 07:59] waldner commented on #1450
I'm using RQ 1.8.0, which AFAICT is the latest stable. Perhaps there's some modification in the master version?

[2021-05-07 15:25] extremoburo commented on #1461
Hello, I'm looking for the same. @selwin would your tip work also if you need to requeue a job instantly and to it will be consumed by another worker ? Thks

[2021-05-07 20:16] rpkak commented on #1460
I don't think this is a problem of rq.

I think it is a problem of redis-cluster.

So this
[code]

returns:
[code]

[2021-05-08 05:41] rpkak commented on #1174
Since [Version 0.10.0](https://github.com/rq/rq/blob/master/CHANGES.md#0100) (#907) you have to use `zlib.decompress(value)` to get `exc_info` and `pickle.loads(zlib.decompress(value))` to get `data`.

You also have to use bytestrings.

[2021-05-08 09:00] rpkak commented on #1452
I think to use ghcr.io nothing more than a docker push is used. For dockerhub I suggest an organisation (e.g. `rq`) and a repo (e.g. `worker`).

[2021-05-08 20:16] rpkak commented on #1452
I wouldn't link docker to this repo. I think making a github workflow is better.

[2021-05-10 10:46] leena-lp commented on #740
Hi @abhisheksachan ,
  Could you please update here the solution?

[2021-05-10 15:49] abhisheksachan commented on #740
@leena-lp
It was my code design which causing the memory leaks, I was using python multiprocessing lib to parallelise my computing, the issue was that every time i was creating a new Process instance globally which were not getting destroyed after the scope was over. So you need to look for these kind of leaks. Good Luck !

[2021-05-12 07:50] rpkak commented on #2
Like in https://github.com/rq/rq/issues/2#issuecomment-502336474 I made a simple test and it worked. Can someone send me an example so I can look at it.

[2021-05-12 09:26] shohamc1 opened #1464 "rq no longer works with Click 8.0+"
When trying to run `rq worker` now throws a `ValueError`. Here is the full traceback:
[code]

This seems to be an issue with [Click 8.0](https://click.palletsprojects.com/en/8.0.x/changes/#version-8-0-0) which was released yesterday. A temporary downgrade to version 7.1.2 can be used as a temporary workaround.

[2021-05-12 10:08] rpkak commented on #1464
I can create a PR to change the default arg of `--path` from `'.'` to `['.']`. After that `default` is a list.

[2021-05-12 10:13] dominem commented on #1464
Thanks guys! I've just ran into the same issue and found that it might be quite simple to fix.
I'm new to rq community. Do you think it will be merged this week or during the next one? I'm just curious how fast things are going here.

[2021-05-12 10:48] olegver commented on #1464
@shohamc1, thanks for reporting - I've ran into exactly the same thing.

Could you, maybe, rename the issue to 'rq' no longer works with 'click 8.0.0'?
I spent half an hour digging into rq/click code to get to the same conclusion as you, didn't check your issue due to a misleading name (I use python 3.8).

[2021-05-12 10:58] shohamc1 commented on #1464
Sorry for the misleading name, I have renamed the issue.

Thanks @rpkak for the quick work in opening the PR.

[2021-05-12 17:01] rpkak commented on #369
Should this issue still be open? I think it is done in #1219 and #1381.

[2021-05-12 23:57] selwin commented on #369
Yep, this is already implemented.

[2021-05-12 23:57] #369 closed

[2021-05-13 13:09] rpkak commented on #1452
Is it ok, if I start know with the implementation:

- github workflow for automatic updates of the docker image
- dockerfile: installing rq from local and not from pypi
- moving `Dockerfile` and `run_tests_in_docker.sh` to another folder (e.g. `tests`) and `docker/Dockerfile` to the repo folder to show, what the dockerfile for use is.

[2021-05-14 04:37] jenstroeger commented on #1464
This bug is a good example of why package dependencies should be _frozen_ to a specific version or version range, instead of allowing any new version:

https://github.com/rq/rq/blob/b84b39f75f367f21a643bb2235b9dabc7ec7ca1c/requirements.txt#L1-L2

[2021-05-14 10:43] #1464 closed

[2021-05-14 10:57] #1453 closed

[2021-05-14 15:02] extremoburo commented on #1461
I had a look at the registry clean up function and it looks easy to check if retry is set and reque. @levkk are you working on this PR, If not I could try with it.

About my issue, I'm wandering if it could make sense in order to be able to reque a job as soon as possibile (in my case jobs could take long times and expiration is too far to manage it this way) to check the `job.last_heartbeat `to r

[2021-05-15 13:00] selwin commented on #1445
Closed as this is not a bug. Job ID should always be unique so that RQ can properly keep track of job execution times.

[2021-05-15 13:00] #1445 closed

[2021-05-15 13:04] #1461 closed

[2021-05-15 20:43] mgcdanny opened #1468 "Is there a way to pass the parameters ssl=True, ssl_cert_reqs=None to the cli $rq info?"
I am connecting to Redis and RQ like this:

[code]

However, I can't get the RQ cli to work:

$ rq info --url ....

Is there a way to pass the parameters ssl=True, ssl_cert_reqs=None to the RQ cli ?

Thanks!

[2021-05-17 12:11] davidhariri opened #1469 "Click 8.0.0 breaks workers in Python 3.8"
Suggest we pin `click==7.1.2` in requirements.txt to avoid this bug in the future

Error:
[code]

[2021-05-17 12:38] rpkak commented on #1469
This should be fixed in rq version 1.8.1. View #1464 #1465.

[2021-05-17 19:09] rpkak commented on #1469
Can this issue be closed?

[2021-05-17 20:52] rpkak commented on #865
I think I could manage a disord server.

@selwin I don't really know much about slack, but I think a community server will simpler and better on discord as on slack.

If I should setup a discord, please ping me?

[2021-05-18 01:28] selwin commented on #865
@rpkak I'm ok either way, but I have limited time nowadays and probably won't hang around much.

[2021-05-18 01:41] #1386 closed

[2021-05-18 17:58] rpkak commented on #1452
I have created a dockerhub organisation that can be found [here](https://hub.docker.com/u/redisqueue/).

@selwin could you please:

- Create a dockerhub account at https://hub.docker.com/
- Write me your docker id (e.g. in this issue) so that I can add you to the docker organisation
- Create a personal access token of your docker account and paste it in a GitHub secret of this repo called `DOCKER_

[2021-05-20 14:29] FloLaco opened #1473 "Q: How to use database for permanent storage result"
Hi,

In my case, RQ will be trigger by a flask API.
My API clients will trigger a job, and they can get the result with another API.

But I need to keep a trace of ALL jobs (input data and result) in a database.
I suppose I have to create a custom class for handling an insert in the database at the begging of the job and update it a the end of the job.
Which I don't understand, is which class do I

[2021-05-20 19:52] rpkak commented on #1473
You can use the
[code]
method to get a job instance. After that your result can be found at `job.result`.
You must store the `job.id` on a database or at client side oder give the job an unique id that the client knows. Otherwise I don't think you have to store anything on a database.

I don't know why you should overwrite anything.

[2021-05-20 21:18] rpkak commented on #1468
You can use a [config file](https://python-rq.org/docs/workers/#using-a-config-file) (just a python file which declares variables) using
[code]
The config file would look like this:
[code]

(works for all `rq` commands such as `rq worker`)

[2021-05-21 09:02] FloLaco commented on #1473
Thanks you @rpkak
The problem is the Redis retention. By default it's 500sec, too short, but I can't put 0 (infinite) because Redis is not a database, it's not made for archiving.
The other problem is that, an user who triggered a job can does not have to check the result back. So, how can I store the result into a database if nobody try to get the result ? (And, make a "cron" to get results and s

[2021-05-21 09:40] rpkak commented on #865
Ok, I created a discord that can be found [here](https://discord.gg/pYannYntWH).

I now create a PR.

[2021-05-21 18:11] prajgujarathi opened #1476 "Worker not able to find module"
I am trying to run a worker in a different docker. I was wondering does worker needs access to code? I thought when we en queue function, it stores a function call? Can an independent service worker.py file can execute a job without having access to the actual codebase?

[2021-05-21 20:23] viorelspinu commented on #758
Experienced the same behaviour. For me it was running multiple Redis servers instance locally with Docker and jobs were randomly published to different servers. Only one server had workers attached to it. After stopping all other Redis servers and keeping up only the one with workers connected this issue did not happen anymore.

[2021-05-23 16:43] duominds opened #1477 "RQ with supervisord - Empty stderr files at intialization"
Hi,

I'm having a setup for RQ where I'm using 10 workers under supervisord. The setup works well for my needs and I'm satisfied with. The only issue I'm facing with the setup, is that when ever supervisord initialize the workers I get 2 files created for each worker in the following path insider the container: /var/log/supervisor

The first file is worker-<worker-id>-stdout---supervisor-<ID>.log

[2021-05-24 09:40] waldner opened #1478 "Unhandled intermittent redis failures"
Once in a while I get exceptions in the logs like the following:

[code]

(Ok this one I could catch since it actually comes from a call in my code, but there are other instances where I don't have any control over it).

I know for a fact that these errors are transient, as I can immediately requeue the job and it works without problems.
Would it be possible to either handle these errors from rq i

[2021-05-24 20:05] rpkak commented on #1313
I think there's no other solution than using exceptions because running code after failing the job doesn't make sense.

I can implement a function similar to https://github.com/rq/rq/issues/1313#issuecomment-668491767 that will raise an error with some more information than a simple error.

[2021-05-27 00:43] selwin commented on #1452
@rpkak

My docker id is `selwin`. I also  added `DOCKER_TOKEN` repository secret. Thanks!

[2021-05-27 01:57] #1469 closed

[2021-05-27 01:58] selwin commented on #1468
Thanks @rpkak for answering.

[2021-05-27 01:58] #1468 closed

[2021-05-27 03:32] selwin commented on #1476
No, the function you enqueue has to be importable by the worker itself.

[2021-05-27 03:32] #1476 closed

[2021-05-27 03:34] selwin commented on #1477
I'm not sure how Supervisord behaves in this regard, but this doesn't look like anything to do with RQ. Feel free to reopen if there's a PR that we can do to fix this.

[2021-05-27 03:34] #1477 closed

[2021-05-27 08:05] selwin commented on #1478
RQ version >= 1.8.0 tries to reconnect to Redis whenever if loses Redis connection. This is the [related pull request](https://github.com/rq/rq/pull/1387). Does this help?

[2021-05-27 08:25] waldner commented on #1478
I do have 1.8.0. Here's another one I just spotted (this is entirely internal to RQ, no code of mine involved):

[code]

[2021-05-30 11:12] selwin commented on #1419
@andrewvaughanj sorry I missed replying to this thread. Implementing a `job.add_dependency()` that takes a list of jobs like your previous suggestion is a good way to start.

[2021-05-30 11:47] selwin commented on #260
This was implemented in version 1.8.0.

[2021-05-30 11:47] #260 closed

[2021-05-30 11:49] #1342 closed

[2021-05-30 13:18] mfikryrizal opened #1481 "Q: Using shared resource (PyTorch ML model)"
So I have a PyTorch model that serve for different types of clothing. However my VPS does not have that much RAM so preloading them is impossible.
My intention is for the models to be stored in a separate "entity{?)".  When a job comes in the worker will check with that entity if the model for the input clothing is already loaded. If yes then use that model to execute the job. If not, deallocate a

[2021-05-31 02:55] jaylcm opened #1482 "dynamic worker listen queue name"
hi team, any possible that running worker able to change listen to another queue?

# Start a worker
worker = Worker(['PRODUCT_A'], connection=redis)
worker.work()

# example change worker
workers = Worker.all(connection=redis)
worker[0].queue = PRODUCT_B

[2021-05-31 05:58] tirkarthi opened #1483 "Deprecation warnings in Python 3.10"
distutils is deprecated for removal in Python 3.12.
asyncio deprecation warning regarding event loop - https://bugs.python.org/issue39529

[code]

[2021-05-31 06:40] rpkak commented on #1482
I don't know if this is what you want, but you can specify multiple queues for one worker in the initialization or create a custom worker overwriting the `reorder_queues` method.

[2021-05-31 12:14] LukasBommes commented on #1404
In encountered the issue as well and would love to see a fix.

[2021-06-01 07:56] rpkak commented on #1406
I think this can be closed.

[2021-06-01 08:18] bielcardona commented on #1406
Sure!

[2021-06-01 08:18] #1406 closed

[2021-06-01 08:34] andrewvaughanj commented on #1419
Okay, I can take a look at this!

[2021-06-02 14:02] mgcdanny commented on #1468
Thank you all very much!  @selwin @rpkak

Now I am getting this error:

[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain

Can I specifically set this parameter in the config file?

ssl_cert_reqs

I found a similar issue here:
https://github.com/andymccurdy/redis-py/issues/1080

with what I think the important part being this:

"I still think

[2021-06-02 15:12] jaylcm commented on #1482
hi @rpkak , i think reorder_queues method does not achieve what i wanted to do..

[2021-06-02 16:12] mgcdanny commented on #1468
Hi -

I was able to get it working by adding the following code to the cli in rq file, should I make a pull request:
[code]

![image](https://user-images.githubusercontent.com/2024459/120514952-cf49ce80-c39b-11eb-96da-e652877be69b.png)

[2021-06-02 23:59] selwin commented on #1468
Sure, PR is welcome :)

[2021-06-03 11:48] jammie19 opened #1486 "Custom Serializer not supported in all Job fetch calls"
I'm using `msgpack` as a custom serializer, which works fine when enqueuing and retrieving Jobs. However, when trying to use more advanced features of rq such as sending a stop command to a worker, I get the following error:
[code]
This is because there's no option to pass in a serializer to the `send_stop_job_command` function, so `Job.fetch` is missing the right serializer and `Job.restore()` fa

[2021-06-04 14:42] tnolan8 opened #1487 "Job not entering queue even though is_queued returns true"
Hi there,

I'm using a combination of FastAPI, rq and Supervisor. I have an API endpoint which kicks off a job that starts a Docker container through a shell script. The first time I hit the endpoint I can see the following attributes in the my API logs for the job (I'm just printing a couple things from the job):
[code]

However looking at the supervisor _rq_ logs the job doesn't appear to be hit

[2021-06-04 21:31] rpkak commented on #1487
Can you share the code, where you enqueue to job to the queue?

[2021-06-05 12:50] Asrst commented on #1478
The above ones are some interesting cases, where connection is lost while job is till being executed/ or in process. Because rq cannot connect to redis, it wont be able to update the Status of the job as well.  While the previous pull request helps to re-establish the connection to redis, the above job status will remain in `STARTED` state forever. This may be also reason for loss of few jobs repo

[2021-06-06 18:38] 54696d21 opened #1488 "Invalid attribute name: fib.slow_fib"
[code]

I tried several configurations but I get always the Invalid attribute name error. I tried the example in the readme and the example in the readme. I'm on version 1.8.1

I'm using the command `rq worker --with-scheduler` as worker

[2021-06-06 19:19] rpkak commented on #1488
Are you executing this command from a place that can import `fib` (e.g. the project folder or a copy of it).

[2021-06-06 19:25] 54696d21 commented on #1488
No, I forgot to do that. That fixes it, thank you :)

[2021-06-06 19:25] #1488 closed

[2021-06-07 14:07] tnolan8 commented on #1487
@rpkak I can't share the actual repo as it's private but I can cut and paste it.

[code]
[code]

[code]

[code]

[2021-06-07 19:27] shakks opened #1489 "Listening to more than 1 task at a time."
Recently we moved to use a queue for our backend and facing some issues.

We have 1 main queue and 2 listener instances connected to it. The total thru put of tasks done via the queue is almost the same either 1 instance listen or 2 instances. Therefore no matter how many more listeners we add we are not able to process more tasks. Looks like listening to the queue takes more time than doing the t

[2021-06-08 11:49] tnolan8 commented on #1487
Just to add, I've tried again this morning and found the following. First time hitting the endpoint I can see this in my logs:
[code]

In Redis I can see the key is there and looking at it I get the following:
[code]

In _rq:finished:atq_ I can see the ID _6df55006-ae17-4e43-88fb-e99c84c8d4ea_.

I've also added print statements inside my job which don't get executed on first request but subsequent

[2021-06-08 12:54] tnolan8 commented on #1487
I change the queue name and now it all appears to be working, not entirely sure what fixed it though, only thing I changed was the queue name and used double quotes for the queue name when creating the queue. Looks to be all good though.

[2021-06-08 12:54] #1487 closed

[2021-06-12 01:02] nyck33 opened #1490 "unpickling error when checking job.result for a Biopython sequence alignment method"
There are two pairwise aligners in Biopython and `pairwise2` cannot be pickled but `Align` can as noted here: https://github.com/biopython/biopython/issues/3607

But when I check condition `if job.result is not None` it throws an error.  These sequence alignments can take a few seconds to much much longer (can even run out of memory for a long protein like human Titin), with the average from my ma

[2021-06-12 04:45] #1422 closed

[2021-06-12 04:46] #865 closed

[2021-06-12 04:51] #1452 closed

[2021-06-12 05:06] selwin commented on #1313
So the good news is that the in development version of RQ actually solves a few issues discussed in this thread.

RQ 1.7.0 comes with `send_stop_job_command` that allows you to stop a currently executing job from the outside. https://python-rq.org/docs/jobs/#stopping-a-currently-executing-job

RQ 1.8.0 (to be released) will include `on_success` and `on_failure` callbacks so you can decide what to

[2021-06-12 10:11] thaodt commented on #1437
hi @chen19901225 and @selwin maybe you guys understood rq thoroughly. Could you please help me how to put the rq logs from console into a file?

my code looks like this:
[code]

[2021-06-13 03:43] chen19901225 commented on #1437
@thaodt  it seem that rq does not provider log to file option, if you want to log to file

1. use supervisord to redirect stdout to file (i choose this)
2. use shell redirect `python work.py >> out.log 2 >&1`

[2021-06-14 10:13] louisabraham opened #1492 "get_status can return "scheduled""
There is an issue in the docs: https://python-rq.org/docs/jobs/ says

https://github.com/rq/rq/blob/819d0498c715d693e8a295ec6202c3fe0262e4fb/rq/job.py#L33-L40

[2021-06-14 16:12] carlosribas commented on #1469
I keep getting the exact same error even using rq in version 1.8.1. Has this problem really been fixed?

[2021-06-14 20:50] rpkak commented on #1469
Should be fixed. Make sure you have run `pip install -r requirements.txt` after updating `requirements.txt`. Otherwise please paste your exact error logs.

[2021-06-15 07:33] natbusa commented on #1488
I would suggest to add some feedback in the form of import trace logging on the `import_attribute` function.
See pull request #1494

[2021-06-15 13:04] carlosribas commented on #1469
Ops, my bad. The error is exactly the same, but in my case it happens because of the rq-dashboard package. Sorry to bother you with that.

[2021-06-16 10:26] #1492 closed

[2021-06-16 20:52] rpkak commented on #1452
@selwin Can you please pull all old versions from **dockerhub** and push them to **docker.pkg.github.com**?

I hope noone wants to use rq<=9.0.0 with docker.

[2021-06-17 17:30] deduble commented on #1413
can you eloborate on that please? How do you pass params to RQ?

[2021-06-18 14:56] dang-cb opened #1496 "Exception during worker setup leaves pubsub thread running, app doesn't exit"
When running `Worker.work()` during the startup it creates a pubsub subscription thread, and then hits Redis to `set_state(WorkerStatus.STARTED)`.

If a Redis exception is raised in `set_state` (in my case, a `SERVER_CLOSED_CONNECTION_ERROR`) the main thread exits, but the pubsub thread is left running as it is never unsubscribed.

As I'm running this worker on Heroku, the app therefore doesn't ex

[2021-06-20 10:18] #753 closed

[2021-06-21 15:33] joshcoden opened #1497 "Call pipeline.multi() even if there are no dependencies to ensure pipeline always in buffered mode after call"
https://github.com/rq/rq/blob/456743b225c0b5a4339242a5b714c378b86f2fe0/rq/queue.py#L368-L369

We need an else block here to make sure that we always leave the pipeline in the same mode for the caller.

@selwin

I can work on this fix before 1.9.0 is released.

ie.

[code]

[2021-06-22 03:30] #1497 closed

[2021-06-22 14:24] joshcoden opened #1500 "Support (class) methods, callables for job callbacks"
Currently, only functions are supported for the callbacks:

https://github.com/rq/rq/blob/5590aab4581f9f2f4d7c34a3d09c8eb708aee3c5/rq/job.py#L124-L132

It would be useful to be able to pass things like class methods for callbacks, similar to how class methods are supported as the work function itself:

https://github.com/rq/rq/blob/5590aab4581f9f2f4d7c34a3d09c8eb708aee3c5/rq/job.py#L124-L132

[2021-06-22 15:49] caffeinatedMike opened #1501 "Trying to run a SimpleWorker in a background thread to execute jobs from a FakeStrictRedis() for testing a flask app on windows"
I'm trying to figure out a lightweight setup to test the job/task functionality of my current project that utilizes rq and flask. However, I'm running into a lot of roadblocks when it comes to finding a simple way to run rq tasks locally in the same process or another process. The reason I'd like to do that is for ease-of-testing. I know for actual unit tests there's `SimpleWorker`, but what I'm l

[2021-06-23 18:23] dfrank8 opened #1502 "Advice requested - passing on Jobs while running old code versions on rolling deployments"
We use django-rq across a multi-server fleet, and use rolling-deployments to deploy new code 1 server at a time. This leaves significant time windows where different servers are running different code versions.

Our load-balancers properly redirect traffic _away_ from servers running old code versions, but those servers have RQ workers that will continue to pick up jobs out of the queues.

We are

[2021-06-23 18:32] dfrank8 commented on #1441
This would be REALLY cool! Currently, we use a super sophisticated exception handler.

In `settings.py`:
[code]

It does a few things that you mentioned, such as:
- enqueues retries under certain circumstances. we pass certain fields to the `meta` to tell the exception handler to do certain stuff:
[code]
- We also check if there are `depends_on` jobs, and will enqueue the next in the chain if the

[2021-06-23 22:03] benayat opened #1503 "chain jobs and use job.result for next job"
I chain several commands, with the "depends_on" parameter.
it works fine, until I try to use job1.result from the previous job, as a parameter for next one:
   <span>    </span><p> job1 = current_app.task_queue.enqueue(background_task2, args = (2,))
   <span>    </span> job2 = current_app.task_queue.enqueue(background_task2, args = (job1.result,), depends_on=job1)</p><br/>
job1.result is always "N

[2021-06-25 07:45] 56907dzq commented on #1441
how to add args to on_success?

[2021-06-25 07:57] 56907dzq commented on #1441
I noticed def create(cls, func, args=None, kwargs=None, connection=None,
               result_ttl=None, ttl=None, status=None, description=None,
               depends_on=None, timeout=None, id=None, origin=None, meta=None,
               failure_ttl=None, serializer=None, *, on_success=None, on_failure=None):
*,add param directly? or something,
looks it work

[2021-06-25 08:54] Peelz opened #1504 "How to prepend jobs ?"
I'm trying to read Docs, but I did not see RQ is support prepend jobs.
**example**
[code]

but I need to insert 'jobC' as first job for worker to be like

[code]
Anyone can tell me how to work with that.

[2021-06-25 08:59] Peelz commented on #1504
Ok I see, add "at_front" as kwargs

[2021-06-25 08:59] #1504 closed

[2021-06-25 14:02] achalagarwal commented on #1436
That would be awesome!

@KessoumML Is it still under your radar? 😄

[2021-06-25 19:50] vfxdee opened #1505 "raspberry pi fails to run task because of pickle protocol version 5?"
I have pickle 5 on my system and have confirmed that it's installed.  I can import it just fine, but any time I submit a job to redisQueue and it picks up on my raspberry pi, I get this error:

Traceback (most recent call last):
  File "/home/pi/.local/lib/python3.7/site-packages/rq/worker.py", line 1008, in perform_job
    self.prepare_job_execution(job)
  File "/home/pi/.local/lib/python3.7/site

[2021-06-25 23:51] selwin commented on #1436
on_success and on_failure callbacks are already implemented in https://github.com/rq/rq/pull/1480

[2021-06-25 23:51] #1436 closed

[2021-06-26 04:47] vfxdee commented on #1505
Nevermind.  Answered my own question.  I didn't see that pi has python 3.7 installed, not 3.8.

[2021-06-26 09:17] shaikhAbuzar opened #1506 "Queue gets cleared automatically even though it has a lot of jobs in it."
I  am running rq on my machine and and when I load all the jobs in the and start the workers, the workers select the first batch and run and the select the second (in some cases) while in most cases the queue is gone and all the other jobs are lost, even though the worker is up and running and executing the jobs.

[2021-07-02 20:42] rpkak commented on #1503
The problem is that if `job1` is enqueued, it is not executed yet and you don't have a result at this time. So at the time of the execution of the second line `job1.result` is `None`. To solve this you can fetch `job1` inside `job2` and I can open a PR to make this more elegant.

[2021-07-03 08:57] benayat commented on #1503
thanks for the answer!
I'd do the PM myself if I was fluent enough...I'm just thinking loud - is it possible for rq to calculate the parameters only in the run-time of the request, instead of the enqueuing?

[2021-07-03 16:33] rpkak commented on #1503
No rq stores the parameters using a serialzer (default pickle) to redis. Fetching job results in the worker while preparing the next job would be a new feature

[2021-07-03 16:33] rpkak commented on #1503
Why did you close this issue?

[2021-07-04 14:56] benayat commented on #1503
I thought I was supposed to... I thought that since there is no option right now to get the results when running the new job, nothing can't be done for now...I'll just keep it open for now, until you can make a PR or until a solution is found. thanks.

[2021-07-04 15:28] waldner opened #1507 "Succeeded jobs mysteriously moved to FailedJobRegistry"
Once in a while I get jobs that completed successfully moved to FailedJobRegistry.
The job terminates correctly, as shown in the logs:

[code]

But then after a while I see the job has been moved to FailedJobRegistry. Looking at the queues with rq-dashboard, I see this terse message:

[code]
But nothing else (don't even know where rq-dashboard gets that message from). No other information in the l

[2021-07-05 11:30] sbv-csis opened #1508 "Google Memory Store Redis doesn't allow CLIENT commands"
CLIENT command is disabled for Google memory store: https://cloud.google.com/memorystore/docs/redis/product-constraints

Which means version 1.9.0 doesn't work on google memory store (Due to [PR 1463](https://github.com/rq/rq/pull/1463/files#diff-50984f276e8a6fea5f4ba4938afb6f4fbc544fd3751fbd16027dc0a326d6405eR224))
[code]
redis `INFO` output on Google Memory Store

[code]

[2021-07-05 13:52] Erandurthil opened #1509 "Sentinel Configuration Documentation"
I just went through about an hour of reading through the source code to find out why the redis sentinel configuration was not working for the workers.

In the documentation it states to use this format :
SENTINEL: {'INSTANCES':, 'SOCKET_TIMEOUT':, 'PASSWORD':,'DB':, 'MASTER_NAME':}

While the the actual working format is:
SENTINEL= {'INSTANCES':, 'SOCKET_TIMEOUT':, 'PASSWORD':,'DB':, 'MASTER_NAME'

[2021-07-05 14:48] cesarferradas commented on #1508
Also having this issue after upgrading to `1.9.0`, but so far it seems other commands still work so this hasn't broken our implementation.

Still would be good to at least have this as a configuration setting we can toggle off.

Thanks for filing this issue @sbv-csis

[2021-07-09 18:42] nadermx opened #1511 "Send files with queue on remote server"
If I have a a long running task that reads files from the server that starts the queue.  Is there an elegant way to send the files?

So say for example, I have

[code]
Can I have RQ send the file to the remote server, and then send it back? Or do I have to write a seperate function sending the files to the remote server, and one sending it back once it's done?

[2021-07-12 14:45] YingjieQiao opened #1512 "usage examples of `on_success` job callback"
Hi,

is it possible to provide any usage examples of the new [Job Callback feature](https://python-rq.org/docs/#job-callbacks) that was just realised in 1.9.0? Since this is quite a new feature, there isn't much materials i could start with online, and the example given in the docs is a bit too simple. For example hot to pass extra `args` to `on_success` and how to use return values of the callbac

[2021-07-12 21:11] bytearchive commented on #1511
if it is a very small small, and if it is a toy project, maybe
otherwise, I would just put them in s3 and send the path to the remote server and download it at remote
or put it in behind HTTP server/nginx and send HTTP link via rq and have remote server download it

[2021-07-12 21:17] nadermx commented on #1511
I ended up putting the files on the server the task was going to be executed on.  Thank you

[2021-07-12 21:17] #1511 closed

[2021-07-13 17:38] AlexGhanem commented on #1413
I am having a very similar problem with using Redis-py queues to retrieve DBs that take too long to download. I believe this was closed prematurely as I cannot find a fix anywhere. and @selwin has not explained how to implement this fix.

[2021-07-13 17:48] AlexGhanem opened #1513 "TypeError: cannot pickle '_thread.lock' object [Python 3.9.6] on Both Windows and WSL"
I am trying to use rq to queue DB retrievals for a frontend dashboard to avoid timeout errors.

The error I am getting is:

        Traceback (most recent call last):
          File "[..]\app copy.py", line 29, in <module>
            daily_count = q.enqueue(furnish_daily, data_full)
          File "[..]\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-

[2021-07-13 20:41] AlexGhanem commented on #1513
Update: installed python 3.7.11 and reinstalled all packages on it and still ran into the same exact error.

[code]

[2021-07-14 15:37] AlexGhanem commented on #1513
update 2 lol: tried it with python 3.8.10 and still no luck. Same error.

I am running out of python versions to test.

[2021-07-15 08:40] YingjieQiao commented on #1513
just switch to another framework lol

[2021-07-15 23:59] vijtad opened #1516 "Long running job in AWS Kubernetes"
There is a long running job in Kubernetes performing Horizontal Pod Auto scaling based on queue length.
It is issuing SIGTERM and our worker is killed in the middle.
Is SIGTERM handled gracefully by rq worker ?

Also, I would like to know the command to  get the worker id number of currently  running process.

[2021-07-16 16:38] vijtad opened #1517 "Work-horse was terminated unexpectedly (waitpid returned 11)"
I am getting this error in my docker when I am processing image using Redis RQ Worker.

Can any one let me know the resolution for this error in AWS cloud.

If this error happen, how can I handle it.

I am using it as dependent jobs and it fails to notify the top level dependent job which makes my solution fail.

Thanks

[2021-07-16 19:17] deduble commented on #1413
To elaborate on the issue a bit more, when you pass info about jobs/params to jobs etc., they are need to be saved to Redis, and they are saved by being pickled by design, so that a separate process, remote/local etc., can know what is the job and do it without the knowledge of what brought that job there. This basing thing was something is not written in rq. However, thread objects are not pickal

[2021-07-16 19:20] deduble commented on #1513
#1413
I have written a few things. `data_full`, I think it is clear that it has some RQ or BQ objects in it.

[2021-07-16 19:23] deduble commented on #1513
#1413
I have mentioned a few things.

Try not the pass the job itself to the queue queue. Pass the relevant information about the job(like which q it is in, or its id etc.)

[2021-07-16 20:01] rpkak commented on #1516
If no job is running on the worker, SIGTERM will gracefully stop the worker. Else the worker will be stopped after the job ends (Warm shutdown). If you send another SIGTERM to the worker, the worker will terminate the process of the the job (I think with SIGKILL).

If you can't work with this behavior you could look at `HerokuWorker`:

https://github.com/rq/rq/blob/77e7ef6983871175a51bd10f340c6020

[2021-07-18 22:37] vijtad commented on #1516
Thank you for prompt answer.

In Kubernetes, Horizontal Pod Auto Scaling yaml file - I used RQ exporter to get scale the number of workers.
In my deployment yaml file, I set the graceperiod to 2 hours as i am running long running jobs
I set it same as 2 hours in my enque job call timeout parameter.
The original worker worked very well with SIGTERM invoked by Kubernetes.
After grace period, Kuberne

[2021-07-19 07:38] moi90 commented on #1469
Could you create a post-release for 1.4.3 which includes `click<8.0.0` or something?

[2021-07-22 12:58] jad7 opened #1518 "'NoneType' object has no attribute 'dependencies_are_met'"
Hello. I don't deeply know RQ code but on prod periodically we're getting an exception:
[code]
The problem is in a method queue.enqueue_dependents().  ->
[code]
self.job_class.fetch_many() method could return `None`.
[code]
At least it should be None-check, like `if dependent_job and dependent_job.dependencies_are_met(...)`. At most, something else...

[2021-07-25 07:32] rpkak commented on #1469
@moi90 you could test c5fa8b17f9cbfb10d570c5b501c9d968f4948754?

@selwin you could create a release from it.

[2021-07-25 11:10] selwin commented on #1469
@moi90 this has been fixed in RQ’s latest release. If you’re using an older version of RQ, you should pin your click dependency in your project.

Unfortunately we don’t have the bandwidth to support old releases.

[2021-07-25 14:53] danielbraun89 commented on #1154
@sjwhitmore I need this exact solution
I will even go as far as to say it deserves to be its own Github project and product. Redis based resource allocation.

[2021-07-26 07:21] moi90 commented on #1469
Alright, I understand that!

(The reason I ask is: In my environment, conda prefers an older version of rq for some reason. If this older version would contain the information that it needs Click < 8.0.0, then conda could fix the problem itself.)

[2021-07-26 13:01] adamsenn commented on #1507
We are also regularly seeing this issue now as well. We are on **rq 1.9**, using it with

- Django 3.2
- django-rq 2.4, and
- django-rq-scheduler@79a6c7a26b482302f3ee73467b97572f0c31effa.

We have similar setup in multiple other projects, but have only noticed this issue in 2 projects thus far. Unfortunately, we have not been able to nail down a reproducible case yet. While it appears your fail oc

[2021-07-26 18:17] SauravTelge opened #1520 "Mysql connection in redis queue job"
I am a novice coder. I was trying to send data that I processed in my background worker to the database in the job itself, but couldn't because Redis couldn't detect the MySQL connection. Please guide me on how to connect my SQL DB to the job worker.

[2021-07-26 18:32] rpkak commented on #1520
Redis can't detect MySQL, because redis and MySQL are both databases. If redis is running rq shouldn't cause problems and if MySQL is running, your job, which needs MySQL should work as well.

So make sure your redis and your MySQL servers are running.

Otherwise you have to tell more information.

[2021-07-27 07:01] SauravTelge commented on #1520
yup, basically I had to add this code for MYSQL to work :

`with app.app_context():`

and then connect to MySQL DB.
Thanks a lot for your prompt reply.

[2021-07-27 07:01] #1520 closed

[2021-07-27 18:24] SlimBeji commented on #260
Hi, is it possible to use regular expressions instead of strings for the depends_on parameter?

[2021-07-27 18:42] SlimBeji opened #1521 "Using duplicate job_id"
Hello,

I noticed using duplicate job_id leads to some unexpected results.

[code]

In the above example, it is expected to have "first_execution" and "second_execution" printed out however, "first execution" is printed out twice

[2021-07-28 00:39] selwin commented on #260
@SlimBeji no. I don't think it's a good idea either. Better to be explicit with these things.

[2021-07-28 12:11] github-actions[bot] opened #1522 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-07-28 22:17] skieffer commented on #260
@SlimBeji Note however that the `Queue` class offers the `job_ids` property, so sth like

    pattern = re.compile(r'.....')
    queue.enqueue(my_function, depends_on=[id for id in queue.job_ids if pattern.match(id)])

should do, and is still pretty concise.

[2021-07-29 07:48] Rathan007 opened #1524 "ERROR : Bulk Job Enqueueing"
I did the exact thing states in Docs about bulk enqueueing
[code]
and when i run I got an error saying
[code]

Can anyone explain why im getting this error and how to solve this and how how to pass multiple jobs?

[2021-07-29 08:34] Rathan007 opened #1525 "how to get job id for bulk queueing"
How do i get job id to fetch result

[code]

[2021-07-29 10:19] rpkak commented on #1524
You can try:

[code]

[2021-07-29 10:45] rpkak commented on #1525
`jobs` is a list of jobs.

If you're at the same process as before (If you have access to `jobs`) just execute:

[code]

Otherwise execute:

[code]

Now ids is a list of integers so you can store them.

After that execute:

[code]

[2021-07-30 21:23] amks1 opened #1527 "Can I use RQ to run an infinite loop with some specific requirements?"
I need a listener function to start as soon as my web app starts, preferably on a different server from that of my web app. Only one instance of the listener should ever be running globally, even if multiple instances of the app itself are running. Also, if the function exits for some reason (exception etc) it should start right back up.

I already have RQ set up for my app to handle other asynchr

[2021-08-03 01:00] #1522 closed

[2021-08-03 03:05] jiajunhuang opened #1528 "failed to execute job from built-in scheduler"
[code]

[2021-08-06 12:11] github-actions[bot] opened #1529 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-08-06 14:35] cesarferradas commented on #1518
We see this issue intermittently too. Will make a PR with the above suggestion soon.

[2021-08-06 15:10] mihaimyh opened #1530 "In-memory queue"
Can this use in-memory queue if we don't need Redis?

[2021-08-07 06:10] arterrey opened #1531 "Multiple schedulers started for the same queue."
Using version 1.9

I have four workers on the same queue each started with the command:

[code]

After 4 days all 4 works are running the scheduler which is causing duplicate executions of jobs.  Here are the logs grep'ed for `rq.scheduler` but excluding lines containing `Trying to acquire locks for inet` I've sorted the logs in terms of time stamp.

[code]

As you can see inet1, inet2, inet3 and

[2021-08-07 06:15] arterrey commented on #1531
The difference in timestamps between workers 2, 3 and 4 is about 24 hours which makes me think there is a TTL being set on the lock.

The difference in timestamps between workers 1 and 2 is much less then 24 hours - could be more then one bug?

[2021-08-07 10:46] cesarferradas commented on #1518
@jad7 trying to understand how to reproduce. I believe this is caused by deleting a task via RQ dashboard or the RQ cli which was actually a dependency to another task which wasn't deleted. When the task finishes, it can no longer find the dependency in redis. Does this sound familiar?

[2021-08-07 11:54] jad7 commented on #1518
I think it should be some kind of warning. To reproduce, let's assume that you have the tasks "A" and "B". "B" depends on "A". 'A' is submitted with postponing time or execute longer than TTL for 'in_queue'. This situation leads to this exception. In this case, the worker will die.

[2021-08-08 15:23] anhdv1979 opened #1533 "Python RQ Sample Error"
I create 02 python programs as below
1. count_words.py
import requests
def count_words_at_url(url):
    resp = requests.get(url)
    return len(resp.text.split())
2.  sample.py
from redis import Redis
from rq import Queue
from count_words import count_words_at_url
q = Queue(connection=Redis())
result = q.enqueue(count_words_at_url, 'http://nvie.com')

when run rq worker, it shows error as below:
T

[2021-08-08 17:31] rpkak commented on #1533
Where did you execute the worker? The worker needs to be started in the same place as the files you created.

[2021-08-08 18:24] anhdv1979 commented on #1533
the rq worker install in /usr/local/bin from pip install rq. And I start command from terminal rq worker; then I use rq info it shows queues & 1 worker. However when I run sample.py (under /home/pi/Downloads) it shows error like above

[2021-08-09 18:56] adamsenn commented on #1507
We are seeing this **very frequently** now in a new project we are working on. I strongly suspect the issue is somewhere in https://github.com/rq/rq/blob/master/rq/worker.py#L982-L1006. As @waldner said, the StartedJobRegistry's `.cleanup()` function seems to be finding our successfully finished jobs stuck inside it. Using django-rq, we have seen finished jobs stuck in the StartedJobRegistry for a

[2021-08-09 19:11] waldner commented on #1507
FWIW, I'm *not* using custom job IDs.

[2021-08-10 04:28] #1533 closed

[2021-08-10 12:38] marsha97 opened #1535 "Wrong docstring for get_jobs_to_schedule method"
https://github.com/rq/rq/blob/9737ffa95fa23dfdebee72f581d72ba88c725a25/rq/registry.py#L297...L298

[2021-08-16 12:13] github-actions[bot] opened #1537 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-08-19 11:35] jaylcm opened #1539 "How to send command to worker change listening queue"
Hi team,

any idea how to use command change worker listening queue?

Thanks
CM

[2021-08-19 12:11] github-actions[bot] opened #1540 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-08-20 01:19] selwin opened #1541 "Functionality to defer an enqueued job"

[2021-08-20 01:21] #1518 closed

[2021-08-20 06:43] #372 closed

[2021-08-21 03:20] selwin opened #1542 "When job is requeued, job.exception should be reset"

[2021-08-21 09:19] selwin commented on #1513
RQ uses pickle to serialize args and kwargs to Redis. In this case you're passing an object that can't be serialized by Python (from the error message, probably a Redis instance).

This is not due to a bug in RQ but a limitation in `pickle`. You may work around this using a custom serializer.

[2021-08-21 09:19] #1513 closed

[2021-08-21 09:20] selwin commented on #1508
Fixed in https://github.com/rq/rq/pull/1514

[2021-08-21 09:20] #1508 closed

[2021-08-21 10:07] #1542 closed

[2021-08-21 10:09] selwin commented on #1509
Fixed in https://github.com/rq/rq/commit/1352465ad1965b635c41bb73934224193d695765

[2021-08-21 10:09] #1509 closed

[2021-08-21 10:19] selwin commented on #1507
@waldner @adamsenn sorry for the late reply, I don't think it's anything to do with custom job IDs. I'll try to look into this, but it's not easy because I don't have jobs that are incorrectly moved to FailedJobRegistry.

Are you able to spot trends in jobs that are incorrectly failed? Like they take a long time to finish or something like that.

[2021-08-21 10:28] selwin commented on #1516
This is not a bug so I'm closing this issue.

[2021-08-21 10:28] #1516 closed

[2021-08-21 10:30] selwin commented on #1527
No, RQ can't do this.

[2021-08-21 10:30] #1527 closed

[2021-08-21 10:31] selwin commented on #1539
RQ doesn't have this capability yet. Feel free to open a PR for this.

[2021-08-21 10:34] selwin commented on #1521
RQ currently doesn't handle duplicated job_id so you should make sure that you job IDs are unique. RQ itself uses UUID so job IDs are always unique.

Having said that, I'm open to accepting a feature that checks for duplicate job IDs when custom job ID is supplied.

[2021-08-21 10:35] #1525 closed

[2021-08-21 10:52] selwin commented on #1507
One more thing, are you both able to verify that these jobs are completed successfully? If they are, I can narrow down the scope of my search.

[2021-08-21 11:03] selwin commented on #1483
Mind opening a PR for this?

[2021-08-21 11:08] selwin commented on #1506
I'm going to close this issue because there's not much information to go on. Would be great if you can show some logging outputs so we can see what's happening.

[2021-08-21 11:08] #1506 closed

[2021-08-21 11:09] selwin commented on #1507
I added some logging statements in https://github.com/rq/rq/pull/1544 . Do you mind running RQ with debug logging turned on so we can see what's happening?

[2021-08-21 11:15] waldner commented on #1507
For my part, I can confirm that the jobs are successful (or at least the logs say so), as I showed in my original message. I'll apply the debug patch and let you know what I see. Thanks!

[2021-08-21 12:15] selwin commented on #1502
Since your load balancers are already redirecting traffic away from servers running old code versions, I think it makes sense to also stop RQ workers running on those servers and start again after the new code is properly deployed.

Does this make sense?

Having said that, I'm also open to ideas about implementing some kind of "filter" such that certain workers will skip certain jobs, but I'm not

[2021-08-21 12:16] selwin commented on #1500
PR welcome :)

[2021-08-21 12:21] selwin commented on #1496
I think moving [self.subscribe()](https://github.com/rq/rq/blob/master/rq/worker.py#L564) into the beginning of [try/except block here](https://github.com/rq/rq/blob/master/rq/worker.py#L586) should solve the issue.

[2021-08-21 16:02] waldner commented on #1507
I don't see the added log messages in the log, I see that they are emitted with `self.log.debug`. Since I do see messages emitted with `self.log.info`, I suspect I have to enable some option to increase the verbosity of the logs, but I don't find anything relevant in the docs. Any help?

[2021-08-21 18:22] waldner commented on #1507
Ok, here is the log for one of those successful jobs which are moved to FailedJobRegistry:

[code]

Yet it's moved to FailedJobRegistry later:

[code]
I notice now that the timestamp above seems to be in UTC (it's really 19:23:26.722741). Yet the workers have their timezone set correctly, as the timestamps in the log messages show (and a simple `date` in a shell inside the worker container also co

[2021-08-21 18:46] adamsenn commented on #1507
I can also confirm that the jobs definitely succeed first as we have multiple indicators (including logs) that are all showing success.

[2021-08-22 00:10] selwin commented on #1507
Ok, this is super weird, from your logs we can clearly see that the job was removed from `StartedJobRegistry` and yet it was `Moved to FailedJobRegistry` again about 90 seconds later.

We know that the job has to be moved to `FailedJobRegistry` from `StartedJobRegistry` because the text `Moved to FailedJobRegistry` only appears in [StartedJobRegistry.cleanup()](https://github.com/rq/rq/blob/f9ddf7

[2021-08-22 01:54] adamsenn commented on #1507
We are using AWS ElastiCache Redis 5.0.6 with Version 3.5.3 of the Python redis client.

[2021-08-22 09:09] waldner commented on #1507
redis 6.0.5-alpine in a Docker container.

[2021-08-22 09:55] jaylcm commented on #1539
hi @selwin , i have try to intercept as follow

1. using command sent to worker thru pubsub
2. create a loop before check_for_suspension in worker and sent 1 blank job to ensure the worker go in to this loop
3. register_death the worker
4. update self._order_queues
5. register_birth of the worker
6. clean_registries
7. break the loop

unfortunately i experience the worker still accepting 1 job aft

[2021-08-22 14:02] selwin commented on #1507
After reading the code multiple times, I think the most probable explanation is that the `pipeline.execute()` call [here](https://github.com/rq/rq/blob/master/rq/worker.py#L1010) fails silently.

@waldner can you check if jobs that were erroneously added to `FailedJobRegistry` have `job.ended_at` value set? This value should be persisted to Redis in the same pipeline call.

[2021-08-22 15:49] waldner commented on #1507
Yes they indeed have the `ended_at` set, along with `started_at`, `created_at`, `enqueued_at`. Again, I see thise are all GMT times.

[2021-08-23 01:19] selwin commented on #1503
So there are multiple ways we can go about this:
1. Use the new `on_success_callback` which automatically passes you the job instance, from which you can access `job.result`
2. Another way would be to have RQ's dependency feature optionally passing the some kind of extra data which lets you know which job triggers the dependent to run.

[2021-08-23 06:14] selwin commented on #1530
Not at the moment, but I think you can use Redis as a purely in memory store.

[2021-08-23 06:14] #1530 closed

[2021-08-23 06:15] #1505 closed

[2021-08-23 06:17] selwin commented on #1489
From your description, I think you're bottlenecked by your server. I'd look into that. RQ itself should be able to scale with the number of workers added, as long as Redis can keep up.

[2021-08-23 06:17] #1489 closed

[2021-08-23 06:19] selwin commented on #1501
You can do `queue = Queue(is_async=False)` and this will cause the queue to execute enqueued jobs in the same process.

[2021-08-23 06:19] #1501 closed

[2021-08-23 07:24] rpkak commented on #1524
Even if this issue is resolved the example in the docs doesn't work. I would suggest using `parse_args` in `prepare_data`.

[2021-08-23 07:30] selwin commented on #1524
Oh ok, I wasn't aware of this. Will reopen the issue.

[2021-08-23 07:35] selwin commented on #1531
I think I know what the issue is. Scheduler locks have  a [TTL of 60 seconds](https://github.com/rq/rq/blob/master/rq/scheduler.py#L109) so if you have jobs that run for longer than that, there's a possibility that locks will expire.

[2021-08-23 08:21] selwin commented on #1507
@waldner this is by design. Because the queue and workers may be hosted on different servers, it makes sense to store all timestamps internally in UTC. They could then be converted to local timestamps when displayed to be read by humans.

I added some more debug logging statements in this branch: https://github.com/rq/rq/tree/logging-additions . Can you run this commit and see what it shows us? Th

[2021-08-23 11:56] waldner commented on #1507
Ok, here goes:

[code]

Strangely, I don't see any instance of the `registry.py` log messages (`Moving job(s) to FailedJobRegistry` and `Cleaning up StartedJobRegistry for queue`), do I have to do anything special to enable them?

[2021-08-23 13:44] selwin commented on #1507
Ok, let's take a look at this line:
[code]
The last result `1` is the [result of ZREM call](https://github.com/rq/rq/blob/e8ec07ed617b972c948b7554ec8287dec7444f3c/rq/registry.py#L75) that's initiated by [started_job_registry.remove()](https://github.com/rq/rq/blob/e8ec07ed617b972c948b7554ec8287dec7444f3c/rq/worker.py#L1008). `1` [means](https://redis.io/commands/zrem#return-value) Redis successful

[2021-08-23 15:24] dfrank8 commented on #1502
Hey @selwin thanks for the reply! I misspoke about our load balancers' capabilities. They don't detect old code versions, they only detect servers undergoing deployment. So in a 3-server deployment A-B-C, server B will be not receive traffic during its "deployment", while A and C will receive traffic using different code versions. This is typically fine, but with workers server A could enqueue a J

[2021-08-23 16:11] rpkak opened #1548 "Idea: Some kind of config object"
The idea is that because there are some configurable things like job class, worker class, instance of redis, logging format, etc.
Some of them have to be overgiven each time a new method is called and looking at #1538 or cli.py where non of the commands use both `serializer=serializer` and `job_class=job_class`.

The config object would be something like the cli-config, but as a context mananger t

[2021-08-23 17:37] waldner commented on #1507
So this has been running for a few hours now, and so far I see exactly zero successful jobs moved to FailedJobRegistry (earlier there would already have been some). I'll leave it running overnight and see. Great work! Thanks!

[2021-08-24 00:35] selwin commented on #1507
Great! If it stays that way, I’ll work on a more permanent fix and may need
your help to verify the fix again (hopefully just once).

On Aug 24, 2021 at 00:37:37, waldner ***@***.***> wrote:

[2021-08-24 00:39] selwin commented on #1548
I like this idea a lot! RQ has been getting more complicated with each arg/kwarg added so having a centralized config object would be nice.

If I may suggest, open a small PR with just the proof of concept in a smallish area like the registry or CLI (area you're already familiar with). After a few iterations we can slowly expand the scope to other components.

[2021-08-24 00:40] #1486 closed

[2021-08-24 06:55] selwin commented on #1507
@waldner [this branch](https://github.com/rq/rq/tree/fix-started-job-registry-race-condition) contains the permanent fix. Could you please test this out and see whether it works for you?

[2021-08-24 08:31] waldner commented on #1507
Yes! It ran all night and no job moved to FailedJobRegistry. I can say that the problem is fixed. I'll test the new branch and let you know.

[2021-08-24 10:42] waldner commented on #1507
I'm sorry but I have to report that the `fix-started-job-registry-race-condition` branch reintroduces the problem of jobs moved to `FailedJobRegistry`. I've been running it for just about two hours and I've already seen 4 such jobs. This seems to be happening at a lower rate than before, but nonetheless it's happening.
Furthermore, I now see that job parallelism seems to be greatly reduced for som

[2021-08-24 12:53] selwin commented on #1507
Ok, in that case can you try running [this fix](https://github.com/rq/rq/tree/fix-race-condition)? I'm trying to do this without incurring an additional Redis command. If this also fails, we can fallback to the quick fix.

[2021-08-24 16:40] waldner commented on #1507
This is working! Parallelism restored and no jobs moved to `FailedJobRegistry`. Thanks! Will you include the fix in a release?

[2021-08-25 00:18] selwin commented on #1507
Yes. Thanks for testing.

[2021-08-25 00:48] adamsenn commented on #1507
Great work @selwin and @waldner!

[2021-08-25 06:21] bt-wil commented on #1119
I had a similar error with an emphermal redis connection issue.  The redis cluster failed over to the backup node, and everything was operational within seconds.  However, due to the error, the worker failed, threw an exception, and exited.

Is there a way to avoid exit due to temporary issues?  I'm looking for a way to retry.

I'm using `rq==1.7.0`, similar error logs.

[code]

[2021-08-25 09:08] waldner commented on #1507
@adamsenn I hope it solves the issue for you too!

[2021-08-27 13:54] joshcoden opened #1551 "Please create a 1.10.0 release"
It appears that [documentation](https://python-rq.org/docs/#cli-enqueueing) references features available in version 1.10.0:

Though it appears as though version 1.9.0 is the newest available at pypi.org. Could a version 1.10.0 be created from the current master branch?

[2021-08-29 18:09] aparcar commented on #1551
I would also appreciate a new release!

[2021-08-29 20:35] rpkak commented on #1548
Ok @selwin #1552 is a PR now where I didn't implement any part yet, but maybe you could see what it will be like by looking at the PR description and the [test file](https://github.com/rpkak/rq/blob/c24d4c9377e0278dec59aa25e91951a3bca6fa3f/tests/test_config.py) I have added.

[2021-08-30 21:13] alella opened #1553 "rq jobs go into a bad state when redis hits connection limit"
Event: message in popped from a non empty queue
State: redis server's client connection count < max_connections

[code]
Event: New work horse is forked to execute the job
State: redis server's client connection count = max_connections
[code]

For the same reason, executing the failure callback is also not possible.

At this point the job persists in redis with status="queued", but the job is not i

[2021-09-02 17:42] nk9 commented on #717
If all you want is to learn when a job has finished, and whether it succeeded or not, you can now use the `on_success` and `on_failure` callbacks when you enqueue the job. This is new in 1.9.0, more on Job Callbacks on [the Queue page in the docs](https://python-rq.org/docs/#job-callbacks).

[2021-09-04 19:01] aparcar commented on #1551
Friendly ping, there are numerous great changes which I'd like to start using:

[code]

[2021-09-05 13:50] aeltawela opened #1554 "RQ triggers job multiple times if date time object is timezone aware"
RQ triggers job multiple times if datetime object is timezone aware.

The issue occurs only if datetime has timezone info: queue.enqueue_at(datetime.now(tz=pytz.UTC) + timedelta(minutes=1), callback)

Here is how to reproduce the issue:

- Download the 3 files
https://gist.github.com/aeltawela/9219a170093d47196c08446944fb9262

- Install dependencies
pip install requirements.txt

- Run the example

[2021-09-07 04:05] selwin commented on #1551
Hey guys, I want to try to investigate this issue https://github.com/rq/rq/issues/1554 . If I can't fix this issue, I'll make a release this weekend regardless.

[2021-09-07 04:36] selwin commented on #1554
I tested your code and this does not look like a bug in RQ. You probably had some `callback` scheduled in your registry so whenever you run your script, it creates a new callback which in turn will create another job.

I modified your script slightly to clear the registry at the beginning of each run to show that this is not a bug in RQ. (**IMPORTANT** check the script below before you run this be

[2021-09-07 04:36] #1554 closed

[2021-09-07 04:39] selwin commented on #1553
Because RQ uses Redis to store worker and job states, it's expected that RQ jobs will go into an inconsistent state if Redis doesn't work properly.

I don't think there's much we can do about this, but I'm open to suggestions. Please reopen the issue if you have any actionable suggestions.

[2021-09-07 05:59] aparcar commented on #1551
Looks like you just fixed it, great!

[2021-09-07 06:03] #1531 closed

[2021-09-09 04:56] rpkak commented on #1548
oops, now i have done it for all components in rq.

[2021-09-09 11:34] selwin commented on #1548
Haha xD. I'll try to find the time to review it.

[2021-09-09 11:47] selwin commented on #1551
Version 1.10.0 is now on PyPI. Sorry for the wait!

[2021-09-09 11:47] #1551 closed

[2021-09-10 05:50] mik3y commented on #1496
Hi @dang-cb,

Are you by chance using Redis from Redis Labs? We've experienced something similar, and I believe they have a rootcause on their end which is yet to be deployed. I haven't received complete confirmation from them yet, but what they have said is an "unexpected" client behavior (specifically, unsubscribe on a non-subscribed channel) causes their server to treat the connection as stale

[2021-09-10 06:16] mik3y commented on #1496
Hi @selwin,

Looks right to me too (although I'm much less familiar with the rq codebase than you).

One other option that struck my eye: The pubsub thread could be [run in daemon mode](https://docs.python.org/3/library/threading.html#thread-objects). I think this would prevent a worker process from hanging around when the main thread has crashed but the pubsub thread has not.

It looks like redis

[2021-09-10 06:20] selwin commented on #1496
If running the thread in daemon mode solves the issue, I'd be happy to accept a PR for that. Letting the library do the work for us is safer than moving things around.

[2021-09-10 14:23] SamsTheGreatest commented on #1154
@trianta2 we have a single GPU and need to run multiple workers on in with ML models specific to each worker. I was looking into solutions for this but haven't seen any examples. Could you perhaps share an example of how you have achieved this?

[2021-09-10 15:24] trianta2 commented on #1154
@SamsTheGreatest I didn't use `rq` for my project. The gist was that every VM with gpu(s) had a single worker process which would periodically check GPU resources using `nvidia-smi`, and if there were sufficient resources, the worker would pop an item of work from a queue. Each work item was a JSON file which described the task (e.g. which dataset to use, model hyperparameters, etc.). The worker w

[2021-09-10 15:24] joshcoden opened #1557 "`rq.Queue` class missing `canceled_job_registry` property"
The `CanceledJobRegistry` class was added recently in #1546, however, no property for it was added to the `Queue` class that exists for all the other registries:

https://github.com/rq/rq/blob/08a4315e8d981b7036f9107ee9a673089eeddd5f/rq/queue.py#L228-L257

[2021-09-10 15:54] joshcoden opened #1558 "`CanceledJobRegistry` does not define `cleanup()` causing errors when trying to call `count()` and `get_job_ids()`"
Unlike other registries, the `CanceledJobRegistry` does not define a `cleanup` method meaning that it will always raise an error when trying to call any methods defined on `BaseRegistry` that assume an implementation for `cleanup()` exists on implementors.

See this note on the implementation of the `ScheduledJobRegistry`'s (also on `DeferredJobRegistry`) empty implementation of the `cleanup` meth

[2021-09-10 16:57] mik3y commented on #1496
Yes, I think that will solve the original issue - a functionally dead, but non-terminating, worker process. I will prepare the PR (and see if there's any low-impact way to unittest).

Responding to my earlier question on side-effects: From what I can tell about the `work()` method, it isn't expected nor intended that any work continues after the method returns. So I am doubtful there are valid use

[2021-09-11 11:25] waldner commented on #1507
1.10.0 definitely solves this for me. Closing.

[2021-09-11 11:25] #1507 closed

[2021-09-12 14:52] waldner commented on #1450
With 1.10.0 I still see these orphan jobs. By "orphan jobs" I mean jobs that have definitely terminated, but are not in any of these places: FinishedJobRegistry, FailedJobRegistry, StartedJobRegistry, ScheduledJobRegistry and are also not queued, deferred or cancelled. They simply exist in redis as `rq:job:*` keys, and are not referenced from any other place, so they stay there forever.

[2021-09-13 00:23] selwin commented on #1450
@waldner you’re positive that these jobs are not leftovers from the previous RQ version, right?

Can you check what keys these orphaned jobs have?

[2021-09-13 08:30] waldner commented on #1450
Yes absolutely, I started from a clean state. Here's a list of the currently orphaned job keys (not sure how it helps though):

[code]

[2021-09-13 09:34] selwin commented on #1450
Oh I meant can you examine the keys (they should be Redis hashes) and print
out their contents? Use `hgetall(key)` and print out the dictionary in
those keys.

On Sep 13, 2021 at 15:31:06, waldner ***@***.***> wrote:

[2021-09-13 10:37] waldner commented on #1450
Ah well, as I said in my first message (but I rechecked just in case) they're all as follows:

[code]
each with different dates of course.

[2021-09-13 10:57] dang-cb commented on #1496
Yes, it was with Redis Labs - I've not experienced the same with Heroku's own Redis servers, and originally suspected it was to do with networking over boundaries / firewalling etc.
Interesting to read about "unexpected client behaviour" potentially causing this - sounds likely with my code :wink:

[2021-09-13 11:36] selwin commented on #1450
@waldner ok thanks for the clarification. I had to make sure because 1.10 supposedly eliminated race conditions created by heartbeats. This means there are other heartbeats with race conditions. Will look into it.

[2021-09-13 11:47] selwin commented on #1450
@waldner one more thing, are you setting your jobs so that they expire immediately? i.e result_ttl = 0.

[2021-09-13 11:48] #1557 closed

[2021-09-13 11:48] #1558 closed

[2021-09-13 11:59] waldner commented on #1450
Yes, those jobs that remain orphaned are indeed set up to expire immediately, good catch.

[2021-09-14 11:23] joshcoden opened #1562 "Please create a 1.10.1 release"
The version number was recently updated, but no new release was created:

https://github.com/rq/rq/blob/0d69d081264b8465d93d8447853e777e85573a34/rq/version.py#L5

Could a version 1.10.1 be created from the current master branch?

[2021-09-16 10:03] waldner commented on #1478
I don't know if it's related, but this improved a lot with 1.10. I haven't seen any of these errors since I upgraded to 1.10. Leaving open for a few days more, if the problem does not happen again I'll close the bug.

[2021-09-20 20:56] alella commented on #1553
Hi @selwin, there are a few ways this could be fixed:

When the job is initialized, it doesn't belong to any registry. The job could be immediately moved into the `StartedJobRegistry` when poping them from the queue (i.e, with the use of Redis pipelines to pop from the queue and move into `StartedJobRegistry` atomically). Right now, the job is moved into StartedJobRegistry with a new connection +

[2021-09-21 01:39] selwin commented on #1553
If the issue is about addressing the part when a job gets popped, it could get orphaned because it no longer belongs in any queue/registry (and not Redis errors causes RQ to fail because this is too broad), I'm open to addressing this issue.

So the TLDR is option 1 is best if it can be done. Otherwise option 3.

This would be the most elegant solution, but I'm not sure this is easily achievable g

[2021-09-21 08:29] #1478 closed

[2021-09-21 18:28] joshcoden opened #1565 "Add the ability to requeue from any registry (not just `FailedJobRegistry`)"
The current implementation in the cli only implements requeueing from the `FailedJobRegistry`:

https://github.com/rq/rq/blob/47110806d1e281f7ba314f837658e247eaaf7a88/rq/cli/cli.py#L126-L137

Even though you might want to requeue job(s) from another registry if they get stuck in the `DeferredJobRegistry` if redis got into a bad state, and you want to manually retry a job, you might want to requeue

[2021-09-22 15:02] webfrank commented on #1539
Hi, same need. I would like to programmatically add/remove queues from worker.

[2021-09-22 16:50] checor commented on #1144
I also consider this would be a very nice addition.
I will check the Go implementation, and maybe, I could try to port it to Python.
Cheers!

[2021-09-22 18:25] rhaven-telesign opened #1566 "code does not match the comment in job.py"
job.py::113: ` elif not inspect.isclass(func) and hasattr(func, '__call__'):  # a callable class instance`

The "not" looks out of place

[2021-09-23 10:11] rpkak commented on #1566
`inspect.isclass` returns `True` if `func` is a `class`, but `False` if it is an instance.

[code]

[2021-09-23 16:18] webfrank opened #1567 "Queue.enqueue seems working in batch"
Hi, I have a very complex pipeline with RQ with thousands of job to be scheduled and worked by 24 workers (mainly HTTP REST queries).

When I start to enqueue the jobs everything seems ok and fast, after I enter multiple job with depends_on it seems the enqueueing works inserting some jobs and waiting. It seems enqueue is waiting for depends_on to resolve.

Am I missing something?

[2021-09-24 11:03] webfrank commented on #1567
Sorry, my fault.

[2021-09-24 11:03] #1567 closed

[2021-09-30 19:09] gnalsa opened #1570 "High frequency of redis INFO command"
Hello, we have there is high volume of INFO commands to the redis server. We are using redis labs and the latency for INFO is much higher (~8ms) than other redis commands (~2ms). We got explanation from redis that their proxy prioritizes other commands so INFO has higher latency.

After looking at why INFO is even called, I found this PR https://github.com/rq/rq/pull/1286 which introduced some pat

[2021-09-30 19:58] gnalsa commented on #1570
Hi @selwin @aparcar tagging you here to get thoughts since both active in original PR

[2021-09-30 20:02] aparcar commented on #1570
Isn't the result cached? Do you tear down the connection every time and reopen a new one? In that case 6ms difference shouldn't be the main issue?

[2021-09-30 20:21] gnalsa commented on #1570
I think there is some issue with caching the result.  I am able to confirm the TCP connection is not being torn down, and many INFO command are sent over the same TCP connection.

One data point, it is not every single Queue.enqueue() but only a portion. We are sending about ~3k per minute and see about ~70 INFO commands per minute.

[2021-09-30 21:00] IAvecilla commented on #787
Has anyone found a solution for this? I am having the same problem with the worker zombies.
Researching the problem, I found that my case is the same as mentioned above, the workers have less metadata than the ones that work correctly and stop taking new jobs.

[2021-09-30 21:14] pranv opened #1571 "What exactly happens when the machine executing a job dies unexpectedly?"
I'm using low-priority instances for data processing and they can be killed any time. The documentation [here](https://python-rq.org/docs/results/#dealing-with-interruptions) says:

Per this, when a machine running a job dies, we don't know we failed at the job. The job was removed from the source queue, but since the worker died, it wasn't added to the failed queue.

However, browsing around issu

[2021-09-30 21:51] pranv commented on #1571
My experiments suggest we recover partially complete jobs and add them back to the failed queue eventually, but would be nice to know what guarantees are provided and if the documentation is outdated.

[2021-10-01 04:12] pranv commented on #1571
after testing this out in a few different scenarios I feel confident that a job killed midway, even when the host goes down, gets added back to the failed queue eventually.

[2021-10-01 04:12] #1571 closed

[2021-10-07 10:52] selwin commented on #1570
@gnalsa the server version is not solely used to determine whether to use `hset` vs `hmset`. To get around this, you can do:

[code]

[2021-10-12 13:50] manmat commented on #1418
This helped me solve the same error when using functions_framework to test Google Cloud Functions locally. Many thanks

[2021-10-13 15:02] rpkak commented on #986
I don't think so, but I would implement this directly in #1552.

[2021-10-16 03:43] #1537 closed

[2021-10-16 03:43] #1529 closed

[2021-10-18 18:54] isms commented on #1198
Looks like this should be closed by #1277

[2021-10-18 19:13] isms opened #1574 "Log arg/kwarg truncation length should be configurable"
### Description

PR #1277 helpfully added truncation to avoid spamming logs. However, the default max length of 75 characters is not right for all use cases and is not currently configurable.

For example, we have an application for which it was very helpful occasionally to log kwarg dicts of ~1000 characters. On upgrade to a version past 1.3.0 we started to miss parts of these log messages, and i

[2021-10-19 06:37] emadelwany opened #1575 "Job.fetch_many() API frequently fails with NoSuchJobError"
Using version 1.8.1

Stack Trae:

[code]

[2021-10-19 12:16] github-actions[bot] opened #1576 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-10-20 12:16] github-actions[bot] opened #1577 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-10-20 19:04] JhonnyBn commented on #1548
This could help with #1574

[2021-10-20 19:12] JhonnyBn commented on #1502
Maybe you could use a different [Queue](https://python-rq.org/docs/) for the other version? Old workers with 'old' queues and new workers with 'new' queues for example
Never tried different queues to be honest, but it seems like a solution

[2021-10-21 12:16] github-actions[bot] opened #1578 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-10-22 12:16] github-actions[bot] opened #1579 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-10-23 12:16] github-actions[bot] opened #1580 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-10-24 12:16] github-actions[bot] opened #1581 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-10-25 12:16] github-actions[bot] opened #1582 "RQ maybe may not work with dependencies in the future"
This issue was automatically created by the GitHub Action workflow **Dependencies**.

 View log:

[code]

[2021-10-25 21:45] rtoole13 opened #1583 "CLI serializer specification seems to not be working as expected"
I've defined a very simple custom serializer to make use of an earlier pickling protocol:

[code]

The above's defined in a custom module, say `my_module.serializers`

On my worker machine, I'm simply making use of the CLI, like:
`rq worker --serializer my_module.serializers`

Despite this, on inspection of the workers locally via:
[code]
Presumably `None` gets passed to the serializer kwarg of th

[2021-10-27 13:38] #1583 closed, assigned to nobody

[2021-11-01 21:23] elfring opened #1585 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-02 16:14] lewin opened #1586 "Job callbacks aren't executed when Queue is initialized with `is_async=False`"
Small example
[code]

[2021-11-03 02:44] yuezijian commented on #717
Job callbacks runs on worker, not master, so there still not a "notify back solution" they(including me) want.

[2021-11-03 08:02] cw1427 commented on #45
Is it possible to use golang coroutine or rust to implement to worker and wrap it to python module?

[2021-11-04 11:51] aprilahijriyan opened #1587 "does rq cron work fine?"
I have a command used in my django project as below.

[code]

Workers for the cronjob and scheduler are already running, but the task is not in the queue.

![Screenshot from 2021-11-04 18-46-12](https://user-images.githubusercontent.com/37798612/140308649-54ea736f-d0eb-4360-b6b7-0c3e3b01625a.png)

[2021-11-06 03:24] selwin commented on #1586
Mind opening a PR for this?

[2021-11-06 03:26] selwin commented on #1576
@rpkak hey sorry I have disabled this workflow manually as it's spamming me with emails as well as issues.

[2021-11-06 03:26] #1576 closed

[2021-11-06 03:26] #1582 closed

[2021-11-06 03:26] #1581 closed

[2021-11-06 03:26] #1580 closed

[2021-11-06 03:26] #1579 closed

[2021-11-06 03:26] #1578 closed

[2021-11-06 03:26] #1577 closed

[2021-11-06 03:27] selwin commented on #1587
RQ has no cron capabilities.

[2021-11-06 03:27] #1587 closed

[2021-11-06 10:31] aprilahijriyan commented on #1587
@selwin Oh sorry, this is related to `rq-scheduler`. can you import this issue into the `rq-scheduler` repo?

[2021-11-06 12:20] amotl commented on #1418
Dear Daniel,

thanks a stack, this saved my day when I was trying to invoke a worker function using Python's `multiprocessing` module.

With kind regards,
Andreas.

[2021-11-08 12:58] rhuanbarreto opened #1588 "Refresh result_ttl"
Is there a way to refresh the `result_ttl`? For example: my `result_ttl` is 500s and if I request the result again within 500 seconds I refresh the TTL again to 500s.

[2021-11-12 02:48] lowercase00 opened #1590 "Gevent, Concurrency and External Methods"
Hi all.

Currently looking for an alternative to Celery + RabbitMQ (want to change because of the high complexity and maintenance costs).
Most of my tasks are I/O bound, so having concurrency with something like Gevent would be great. I've seen a few issues on the subject starting all the way back in 2012, but just can't find something "official" in the documentation. I wonder if this hasn't (won'

[2021-11-12 03:36] lowercase00 commented on #303
That would be great indeed.
Found this: https://github.com/zhangliyong/rq-gevent-worker
But not very comfortable adding another lib when trying to run away from complexity.
Would be great to have this builtin.

[2021-11-12 04:37] spetoolio commented on #1208
I'm in a similar position here (more than a year later) wrestling with job IDs and their uniqueness. I have an rq-scheduler recurring job that every minute enqueues a batch of jobs to check certain objects. The job ids for those checks are `check_object_{object_uuid}`. I only want to add the job to the queue if the job is _not already in the queue_. So, I generate the job ID `check_object_{object_

[2021-11-15 20:28] Padge91 commented on #1450
I believe I'm witnessing this behavior again; my earlier resolution may have been a red herring. I'm noticing the same behavior as reported above. Using version 1.10.0, result_ttl=0 for all jobs we submit (failure_ttl=0 also), and when I do hgetall on the keys in Redis they only have fields like so:
[code]

[2021-11-16 00:07] selwin commented on #1450
Yeah, this issue is caused by a race condition and is tricky to solve. I haven't been able to find an elegant solution for this.

I was able to solve the previous race condition bug where jobs remain in `StartedJobRegistry` even though it finished normally by using [xx=True](https://github.com/rq/rq/blob/master/rq/worker.py#L816) argument provided by Redis.

Unfortunately no such option exists for

[2021-11-16 00:09] selwin commented on #1588
Not yet, but I'm willing to accept a PR for this.

[2021-11-16 00:10] selwin commented on #1585
Mind opening a PR for this?

[2021-11-16 00:35] selwin commented on #1450
@waldner @Padge91 can you check if this https://github.com/rq/rq/pull/1591 solves your issues?

[2021-11-16 08:04] elfring commented on #1585
:thought_balloon: How will the chances evolve that any other contributor would like to integrate the adjustment of three assignments directly?

[2021-11-16 12:24] Padge91 commented on #1450
@selwin Will give it a try in our dev environment, though the volume is pretty small so it may take a bit to be certain it fixes the issue.

For a quick workaround in production, I will probably set result_ttl and failure_ttl to small values to try and void the race condition.

Thank you for your hard work, I appreciate your help.

[2021-11-16 14:13] selwin commented on #1590
We haven't gotten around to implementing concurrent workers, unfortunately. This is something I'm keen to add, but never got around to it since it's going to be quite a big architectural change.

[2021-11-16 18:35] waldner commented on #1450
It'll be some time before I can try this, but I'll do it ASAP. Thanks!

[2021-11-17 01:58] mattchan-tencent commented on #1503
@rpkak Yes, if you could please open a PR to make fetching `job1` within `job2` more elegant, it would be appreciated.

---

@selwin there are a few downsides to those approaches IMO:

1. I think this means your job submission script needs to run for the entire duration of all the jobs correct? Something like this: https://stackoverflow.com/a/68346696
2. I tried something like this:
[code]
This fa

[2021-11-17 02:00] mattchan-tencent commented on #1503
Also, if you implement a decorator, it might be nice to increase the 500s result timeout automatically to whatever the job timeout duration is. Fetching within 500s is reasonable, but if there's a lot of pressure on the queue, it's not uncommon for a job to require more time than that to start.

[2021-11-17 02:10] selwin commented on #1503
I agree, I think we should definitely make reaching into parent jobs easier, something like this:
[code]

[2021-11-17 02:42] mattchan-tencent commented on #1503
This is another alternative way to get access to the arguments in job (when paired with `get_current_job()`, but I don't think it's particular helpful since you still have to put that inside your `bar` code.

I mean something more like this:
[code]

Note that this won't work as-is. RQ will attempt to pickle the job when it enqueues and it will fail due to threading/mutex as mentioned earlier. It w

[2021-11-17 03:55] selwin commented on #1503
I have mixed feelings about the `fetch_results` decorator because:
1. You actually still need to update your code to use previous job results.
2. The decorator changes your function's signature in an implicit way that may break certain codes that access `args` and `kwargs`.

Maybe one thing we can do is when dependents are being [enqueued](https://github.com/rq/rq/blob/76ba690aafaa0fffbab1ee8f5db7

[2021-11-17 04:44] mattchan-tencent commented on #1503
Yes, actually I had problems with this. I ended up using `functools.wraps` to fix it. RQ _really_ didn't like having an implicitly different function signature from the one being enqueued.

I'm afraid I don't understand your proposed solution. Can you write some pseudo code for what the user would call when enqueueing and the job function please? If the caller accepts `rq_dependency_job_result : D

[2021-11-17 05:16] mattchan-tencent commented on #1503
One last comment for the night:

I think one structural weakness of the decorator method (explicit or integrated into serialize/deserialize) is that you are pinning the return type of `job1` to the parameters of `bar`. This becomes an issue when you have complex execution graphs (i.e. job1 provides parameters for both `bar` and `bar_prime`) or when you want to do some intermediate processing of pa

[2021-11-17 05:30] selwin commented on #1503
It doesn't solve the need to modify your job code, but does make it more explicit and easier to understand. My initial proposed solution

[code]

But I think this is a better method (and I think we can make it work):
[code]

[2021-11-17 22:35] mattchan-tencent commented on #1503
Hmm... I think this still has some problems with locality. If I wanted to change `x` from a job result to a constant, I would have to adjust the decorator on `bar` and also the `q.enqueue` call. It makes it harder to reason about my code for other programmers as well.

Also I'm assuming that `x` in the decorator is not the same x that `foo` returns in the dict. That would be a bad idea I think.

T

[2021-11-19 05:25] erikrichardlarson opened #1595 "Pass dot-separated string of package, module and function to success / failure callbacks"
Could we allow the success / failure callbacks to accept a dot-separated string in addition to building it like below? https://github.com/rq/rq/blob/76ba690aafaa0fffbab1ee8f5db7c27c5327d792/rq/job.py#L128

Happy to create a PR if it makes sense.

[2021-11-20 14:25] waldner commented on #1450
Ok, I've just applied the branch to the most heavy-load jobs I have (which were those that produced > 90% of the orphaned jobs). I'll let you know how it goes in a few days. Thanks.

[2021-11-20 14:41] selwin commented on #1450
👍🏻

[2021-11-22 12:49] selwin commented on #1595
Yes, would be happy to accept a PR for this. Please include tests also :)

[2021-11-24 00:11] euanmacinnes opened #1596 "Any on_error / on_deferred callbacks?"
Hi,

I need to be able to track the full job status throughout a multi-user complicated pipeline, so it can be hard to see jobs that have errored or deferred without manually scanning the queues repeatedly and separately tracking what jobs are in the system. Do these callbacks exist, or any plan to implement such a thing?

Cheers,

Euan.

[2021-11-24 00:31] selwin commented on #1596
Yes, you can pass in `on_success` and `on_failure` arguments when [enqueueing jobs](https://python-rq.org/docs/#job-callbacks).

[2021-11-24 00:31] #1596 closed

[2021-11-27 13:12] waldner commented on #1450
As a preliminary result, I see many fewer orphaned jobs now, and they're likely to come from the other (unpatched) workers. I will perform a more thorough check when I have time, but it definitely seems promising so far.

[2021-11-29 14:54] #209 closed

[2021-12-01 19:41] waldner commented on #1450
I confirm what I said in my previous comment. If you can merge the patch and make a release, I'll be happy to apply it to all my workers. Thanks!

[2021-12-02 00:47] selwin commented on #1450
@waldner great thanks!

[2021-12-03 19:56] joshcoden opened #1598 "`remove_from_queue` not passed through in `Job.delete` to `Job._remove_from_registries`"
https://github.com/rq/rq/blob/0147b30f2bd6b5c26c530d5cb7a3c3714029b59a/rq/job.py#L788-L795

It should not be ignored.

[2021-12-05 14:02] ericman93 commented on #367
even if I'm using SimpleWorker, the meta and the data sending to job is being seralized
so if I'm passing magic mocks in `meta`, I wont be able to assert them being called since it isn't the same mock anymore

[2021-12-06 12:19] ericman93 commented on #1586
the issue with the simple worker solution is that you can't use mocks, since the mocks are being serialized to the worker and when asserting, its not the same mock that was called

[2021-12-07 00:46] selwin commented on #1598
Mind opening a PR for this? @joshcoden

[2021-12-08 00:33] kusaku commented on #1598
I found this issue too, the PR is here - https://github.com/rq/rq/pull/1601

[2021-12-08 01:05] kusaku opened #1602 "Orphaned workhorse recreates redis key of the killed worker with TTL `-1`"
When a worker terminates with `kill -9` (for example, `suprevisor` can terminate workers with `SIGKILL`), the workhorse will continue running.

Workhorse may or may finish or fail. In both cases it will execute some stats methods:

- `Worker.increment_successful_job_count()`
- `Worker.increment_failed_job_count()`
- `Worker.increment_total_working_time()`

These methods will execute redis `HINCRBY

[2021-12-08 20:30] WeatherGod opened #1603 "sync job execution swallows exception"
Before v1.10.1, the following would raise an exception from the execution of the given function.

[code]

Now, it doesn't. This is because `Queue.run_sync()`, which is called by `Queue.enqueue_job()` is swallowing the exception if an error callback wasn't set.

[code]

In my view, this is a backwards-compatibility break.

Additionally, I haven't yet checked the behavior with asynced jobs, but do t

[2021-12-08 21:13] WeatherGod commented on #1603
Erm, ignore that last question, I just realized that it doesn't make a lot of sense (I wasn't thinking asynchronously...)

[2021-12-11 11:14] #1598 closed

[2021-12-11 11:19] selwin commented on #1602
Agreed. However, the checks shouldn't be done everytime the keys are incremented as this will incur one extra Redis operation for every job that finishes.

The check should only be performed when  `increment_successful_job_count()` or `increment_failed_job_count()` returns `1` (meaning it's possibly a new key).

Do you mind opening a PR for this?

[2021-12-11 11:30] selwin commented on #1603
You're correct in that this is a backwards incompatible change.

But I think the previous behavior where RQ would raise an exception when job fails is a bug. The current behavior where RQ sets job status to `failed` and perform the usual bookkeeping stuff is correct because it is consistent how async jobs behave (and tests should be more accurate as a result).

In hindsight, I think the change sho

[2021-12-11 11:30] #1603 closed

[2021-12-12 12:45] rish-hyun commented on #1103
I have set timeout to -1 and still job goes to FailedJobRegistry while its running
[code]
[code]
At the same time, worker is still running
[code]

[2021-12-12 17:25] rish-hyun opened #1604 "I have set timeout to -1 and still job goes to FailedJobRegistry while its running"
I have set timeout to -1 and still job goes to FailedJobRegistry while its running
[code]
[code]
At the same time, worker is still running
[code]
Initially it's not added in FailedJobs (it was in running_job_ids), but after a while it goes there

EDIT:
When the worker finish it's task
[code]
The job_id is still in *FailedJobRegistry* but here it raises
`rq.exceptions.NoSuchJobError: No such job: b

[2021-12-15 12:22] tomhamiltonstubber commented on #1586
This is fixed now, right?

[2021-12-15 19:08] WeatherGod commented on #1603
Sorry for replying late to this (I imagine many of us have been distracted by other issues lately...)

I would like to point out that the behavior of the synced and asynced job execution is still quite different. If no error handler is specified, then nothing really happens to the job object (as far as I can tell). But for the asynced execution, there is a whole bunch of stuff that happens. See th

[2021-12-15 21:33] mattchan-tencent opened #1606 "RQ over noisy connections"
Hi,

I have a rq cluster which is split over a few regions. There seems to be about 30% packet loss between the redis server and workers.

As a result, I am missing a lot of workers from my rq cluster (only 39/80 are reported by `rq info`).

`rq info` also reports lots of `None` and `?`.

[code]

Are there any settings that I can use to make RQ more resilient?

Thanks!
Matt

[2021-12-15 23:23] selwin commented on #1603
You’re right. The goal is to make async and sync job executions consistent. It’s better than before, but still not identical as you pointed out. Do you mind opening a pull request?

[2021-12-16 19:09] WeatherGod commented on #1603
I'd probably consider it, but it would have to wait a few weeks. My
approach to it would be to reduce code duplication by moving stuff into
job.py. My thinking is that an async job is just a synchronous job executed
by a worker. So if we could have the worker instance call the perform_job
method instead and have it only worry about worker-related things, then
we'd guarantee that asynced and synced

[2021-12-17 14:25] waldner commented on #1450
I'm happy to report that with 1.10.1 everywhere I have had exactly ZERO orphaned jobs in the last week so far.
Closing as this definitely seems fixed to me. Thanks!

[2021-12-17 14:25] #1450 closed

[2021-12-22 10:48] idling-mind commented on #948
I have a related question. If I am running the worker on a different machine than the one which submits the jobs to the queue, do both these code be able to import the job function? What happens if they are able to import the function, but the function is different at both ends? Which one will it run? the one at the worker side or the one at the queing side?

[2021-12-22 20:53] JLHasson commented on #948
@idling-mind I believe the environment the worker is running on should contain all of the necessary dependencies for running the code. In the case you describe the function on the worker machine would be run. Typically you should start the workers with the same version of code you expect to be called by the main node.

[2021-12-24 18:19] idling-mind commented on #948
Thanks. After reading through the docs once more, I realized that I could as well use the function name as a string which makes things easier for me.

[2021-12-24 20:48] #1606 closed

[2021-12-26 11:57] smm993 opened #1607 "ModuleNotFoundError"
[code]

[2021-12-26 22:16] lgg42 commented on #994
Hi @jaakkopasanen, did you ever find a solution? I ran into the exactly same problem... this is my docker containers stdout..
[code]
using **rq 1.7.0**

[2021-12-28 11:10] #1607 closed

[2021-12-29 22:38] xNul commented on #1088
@Houd1ny I spent many hours trying to figure this out with no luck until I found this issue. Thanks for the help!

[2021-12-30 02:53] mattchan-tencent opened #1608 "Child job dependencies?"
Hi,

I've got a job which enqueues other jobs from the worker so I don't know the job ids of all the children from the head node.

Is there a way in rq to track dependencies so that all the children finish before a reduce step takes place?

Thanks for your help!

[2022-01-05 19:17] vijtad commented on #1517
Can any one let me know what is waitpis status code 11.

[2022-01-06 19:12] xNul opened #1609 "Deadlock/Hanging/Stagnation when using BERT model in parallel"
Hey guys,

I'm trying to parallelize and queue machine learning jobs and have run into a problem. Occasionally, the BERT Question and Answer model will deadlock when run in multiple workers at the same time. Eventually the job is force-stopped due to timeout. I can't figure out why this is happening but there doesn't seem to be a problem when queuing with the multiprocessing library.

When I restr

[2022-01-06 19:34] xNul commented on #1609
I've been able to reproduce this with the latest versions of `torch` and `transformers`.

torch==1.10.1
transformers==4.15.0

[2022-01-06 20:01] xNul commented on #1609
To confirm this is a problem with `rq` and not the Bert model itself, I ran 4 Python instances in parallel executing the code below for 10 minutes and was not able to reproduce the deadlock. Meaning, something is likely introduced by `rq` which causes this bug.

The longest iteration was for 51 seconds which isn't close to the timeout time of `rq`.

[code]

[2022-01-07 00:20] xNul commented on #1609
The problem seems to be reduced with `torch.set_num_threads(1)` indicating workers could be communicating or sharing memory somehow.

[2022-01-07 16:16] rpkak commented on #1517
The normal worker doesn't simply run the job, but it forks it's process and runs the job on the new process.

The good thing about this is, that if job terminates it's process, only the process of the job will be terminated and not the process of the worker.

In your case the job has terminated it's process with the error-code `11`.

I think this error-code means `Resource temporarily unavailable`

[2022-01-10 06:20] arterrey opened #1610 "Feature request: Set process name for workers"
Requesting a feature that sets the process name for workers. So that when processes are listed in the system (like in the command "top") the kind of worker can be easily identified. Useful for performance, scaling debugging resource usage etc.

[2022-01-13 01:25] selwin commented on #1608
We don't have such a concept in RQ yet. You can however create a job that depends on multiple other jobs before it gets executed.

[2022-01-13 01:26] selwin commented on #1610
Pull request for this is welcome :)

[2022-01-14 21:34] mattchan-tencent commented on #1608
Hi @selwin,

I think I figured out a possible way to work around it. We can store the reduction job ID in the metadata, and as new child jobs are created, we fetch the reduction job and use Job.register_dependency(). We also propagate that ID into those children so they can do the same thing recursively. Does this work? Or am I stepping into some concurrency landmine?

This is a slightly different

[2022-01-14 21:45] mattchan-tencent commented on #1610
@arterrey I'm a bit of a rq newbie, but I was reading the source code something else and came across Worker.procline(). Is that what you wanted?

[2022-01-14 22:17] mattchan-tencent commented on #1608
Answering the second question after a bit of investigation:
The key bit of code is at https://github.com/rq/rq/blob/c5a1ef17345e17269085e7f72858ac9bd6faf1dd/rq/job.py#L990.

In order to accept failed jobs as well, I think we need either a custom error handler to deregister the job from its dependencies, or to modify the rq source and accept finished or failed. Are either of those sane solutions? I

[2022-01-14 23:34] selwin commented on #1608
This is a lower hanging fruit that I also want to solve.

I'd rather build a proper solution for this. I really like how our [retry API](https://python-rq.org/docs/exceptions/#retrying-failed-jobs) turned out so let's do something similar:
[code]

1. `child_job` would store the `allow_failure` (better name suggestions welcome) in Redis.
2. `queue.enqueue_dependents()` should be called regardless e

[2022-01-15 01:02] mattchan-tencent commented on #1608
@selwin Sounds good. I've PR'd it. Please let me know if it looks acceptable, or feel free to make changes. I'm new to the codebase.

[2022-01-19 11:08] vladislavkoz opened #1613 "Worker.unsubscribe() stucks on self.pubsub_thread.join()"
We have the following worker
![image](https://user-images.githubusercontent.com/40685761/150118093-17cdabcb-1abe-4e5f-95b5-6560345091e9.png)

Everything works fine and all jobs are getting processed. The problem comes in the `unsubscribe` step.

The default unsubscribe function stuck on `self.pubsub_thread.join()` line.
![default_unsubscribe](https://user-images.githubusercontent.com/40685761/1501

[2022-01-20 07:02] cfal opened #1614 "AttributeError: module has no attribute ''"
Since a few days ago, I'm seeing occasional failing jobs with this error:

[code]

I tried checking the FailedJobRegistry and seeing if `self.func_name` was not set correctly, but that didn't seem to be the case:

[code]

I don't see any RQ changes recently, and I'm not sure what could have caused it, or how to debug this.
Any feedback would be much appreciated. Thanks!

[2022-01-24 10:30] BohdanKov commented on #1613
I have the same problem...

[2022-01-24 12:24] myroslavsok commented on #1613
Same issue for me... I repeated your steps and it worked.

[2022-01-25 08:43] unrenamed commented on #1613
Hi, I'm struggling with just the same issue. Although I was able to overcome this via the version rollback to `1.0.0`, I wonder if there is any way of getting around this bottleneck in the newest versions? The version downgrade might be a fallback scenario, but I'd hazard a guess, this might make someone's head spin to make it compatible with other packages that require the latter `rq` versions.

[2022-01-28 10:00] #1168 closed

[2022-01-28 14:55] maks-us opened #1616 "Feature request: I suggest to add a simple way to rewrite all "rq:" prefix for redistribution keys."
I work in a company where one global Redis infrastructure could be shared between different services.
I'd like to use RQ and avoid collisions with other projects.
So I'd like to use project namespace as a prefix
("rq:" prefix "project name:rq:" prefix )

[2022-01-29 02:58] selwin commented on #1616
This issue was proposed before, but I'm not sure this would add too much value. After all, you could do `Queue(name=prefix+queue_name)` instead of `Queue(prefix=prefix, name=queue_name)`.

[2022-01-29 02:58] #1616 closed

[2022-01-29 15:26] maks-us commented on #1616
@selwin
**Would you consider to merge PR if I extract "rq:" prefix as optional environment variable?**
It would be backward comparable.

I am able to inherit and rewrite Queue and Jobs key prefix. It become more complex when I begin looking at the workers Redis storage keys.

[2022-01-29 15:27] selwin commented on #1616
What kind of API are you proposing?

[2022-01-29 15:32] maks-us commented on #1616
I think about optional environment variable with fall back to "rq:".

redis_key_prefix = os.environ.get('RQ_REDIS_KEY_PREFIX', 'rq:')

[2022-02-05 09:45] alexdacoda commented on #1418
I have been searching every where for this

you are God send.

[2022-02-06 10:32] selwin commented on #1613
@vladislavkoz  Can this be reliably reproduced? Does this only happen when you're running `SimpleWorker` or when using FakeRedis?

Can you check if adding an exception handler to to thread solves this issue (it could be that some connectivity/networking issues crashes the thread)? This is an example from redis-py's documentation. This is

[code]

[2022-02-06 10:34] selwin commented on #1604
What RQ version are you running?

[2022-02-07 17:43] rish-hyun commented on #1604
redis: `1.7.0`
rq: `3.5.3`

[2022-02-07 17:46] caumons commented on #1614
I'm experiencing exactly the same error randomly using the following versions under Python 3.10:

[code]

The traceback looks like this:

[code]

[2022-02-07 18:52] caumons commented on #1614
After further investigation, I've seen that the stack trace tried to execute a cron job called `app.book.jobs.publish_today_chapter()`. However, it had been renamed to `app.book.jobs.publish_todays_chapter()` a few days ago (note the `s` after `today`).

So, I've checked redis and I've found an entry called `rq:job:cron-publish-today-chapter`. There exists another one for the renamed job called `r

[2022-02-08 13:45] vladislavkoz commented on #1613
- Does this only happen when you're running SimpleWorker?
It stucks with both SimpleWorker and Worker.

- Does this only happen when you're using FakeRedis?
Unfortunately, I'm not able to test it with something else.

- Can you check if adding an exception handler to the thread solves this issue?
I've tried to use it with both SimpleWorker and Worker. Service works fine until running the **unsubsc

[2022-02-08 14:05] cfal commented on #1614
Nope, I don't execute it as a cron job. I did add an extra job when this started happening. The job that was failing was the previous job, named exactly the same.

[2022-02-13 13:39] p0nt commented on #1309
maybe a little late, but you probably need to remove python3-rq instead of python-rq... at least that was the fix on my side.

[2022-02-14 10:18] AbhinavJindalDS opened #1620 ""Work-horse was terminated unexpectedly" failures are not passed through custom exception handlers"
I have a custom exception handler which I want to run with the default exception handlers. The custom handler works fine when an exception is thrown inside the function being run by the worker, but when I (manually using kill) or the OS is the one to kill the running process (OS may kill it due to heavy memory usage), the task status shows failed in django rq and I see "Moving job to FailedJobRegi

[2022-02-14 10:23] k-sap opened #1621 "Running depends_on job after its dependency failed."
Hi,
I'd like to as if there is possibility to run a job after the job it is dependent on fails.

I have a use case when I prefer operations to be done sequentially. However, after an error I'd like the second dependent task to run.

[2022-02-14 10:23] #1621 closed

[2022-02-15 20:47] caumons commented on #1614
If you've added a new job and the one failing is the previous one, then I'd check redis data if there is any incoherence. Maybe you could delete the keys for the failing job to be recreated again.
Good luck!

[2022-02-18 22:00] BobReid commented on #1620
I have a similar issues. It seems like there are several scenarios where jobs end up in the Failed Jobs Registry without going through the exception handler.

The scenario I ran into is when jobs are abandoned and are moved as a result of the registry cleanup process.

https://github.com/rq/rq/blob/a3fba1ca1fb16599cd775265f060697a07f5866f/rq/registry.py#L178

I am trying to implement a monitoring

[2022-02-21 11:10] lowercase00 commented on #1590
@selwin thanks for the response, I missed the notification, so sorry for the delayer answer.
Do you think it would be possible to add an extra `GeventWorker` class?
While writing this I actually just found [this repo](https://github.com/zhangliyong/rq-gevent-worker). Have you guys considered adding something similar?

[2022-02-22 14:38] GitTiago commented on #1404
It seems this issue still stands
Job creation takes the depends_on parameter but enqueue_job does nothing with it.
This is in direct contradiction with the docs and the test @thomasmatecki mentioned

[2022-02-22 23:17] mattchan-tencent opened #1623 "Distributing job code updates"
Hi,

What is the recommended way to distribute functions for jobs when updating the job?

I currently distribute the code via scp and have to restart the workers so they update the imports but this is inconvenient when there is another job in progress.

Is there a way to tie the data and the job code together, instead of distributing code out-of-band and then restarting the workers?

Thanks!

[2022-02-23 00:45] selwin commented on #1404
`queue.enqueue_job()` just enqueues the job without doing any dependencies check, it's designed for that. Is there a reason why you don't use `queue.enqueue()` instead?

[2022-02-23 01:09] selwin commented on #1620
Yeah, this is because custom exception handlers are actually attached to the workers running jobs. When a worker is killed by the OS, it stops immediately without being able to run any exception handling tasks (including moving job to failed job registry).

The jobs that are dead will later be moved to `FailedJobRegistry` by a different worker that checks for expired jobs in the `FailedJobRegistry

[2022-02-23 01:12] selwin commented on #1614
I think this is simply that you haven't restarted RQ after you made code changes in your projects.

[2022-02-23 01:12] #1614 closed

[2022-02-23 01:14] selwin commented on #1623
This is what I currently do. When you shutdown a worker, if it's in the midst of a job, it will be given time to finish the job before shutting down so no jobs should be lost (provided that the job finishes within the grace peirod).

[2022-02-23 13:53] thomasmatecki commented on #1404
I think the behavior of `enqueue_job` is at issue here. It is counterintuitive that `enqueue_job` would not respect a job's dependencies while `enqueue` and `enqueue_call` do. We could document this, but it does seem like an inconsistent API (allowing a job to be created with dependencies, then ignoring them in `enqueue_job`).

What do folks think of changing the behavior of `enqueue_job` to be co

[2022-02-24 07:07] charalamm opened #1624 "Retry does not work with the interval argument"
I am trying to use the rq Retry functionality by following the rq [documentation](https://python-rq.org/docs/exceptions/) but it does not work when using the interval argument

python version: 3.8.0
rq version: 1.10.0

The somewhere.py
[code]
A script that enqueues my_func with the retry functionality
[code]

I was expecting to see the worker running my_func 3 times with 10 sec intervals in the be

[2022-02-24 18:21] caffeinatedMike opened #1625 "`SimpleWorker` does not work on Windows as docs suggest due to `SIGALRM` signal not being implemented by OS"
I have a dummy maintenance task that is scheduled to run once every minute using the below script (reduced for debugging)

[code]

In order to monitor tasks scheduled/executed while developing locally, I'm using the `click` commands I registered in the script above.

# Steps to reproduce
1. In the first command prompt window run `flask run-scheduler`
2. In a second command prompt window run `flask

[2022-02-25 00:41] caffeinatedMike commented on #1404
I fully agree and support with aligning `enqueue_job` to be consistent with `enqueue` and `enqueue_call`. This is also preventing the use of `enqueue_many` due to its reliance on `enqueue_job` in the list-generator for `jobs`.

My reason for constructing the `Job` instances beforehand is so that my tasks (which I submit in successive batches) are queued as close together as possible. I also prefer

[2022-02-25 01:24] caffeinatedMike commented on #1404
Wouldn't moving the following snippet from `enqueue_call` into a standalone function and applying it to all the above methods provide consistency across all the aforementioned methods of the API and resolve this issue?
[code]

[2022-02-25 02:14] selwin commented on #1404
The intended design for `enqueue_job()` was to just push a job into a queue. I do understand the confusion though, in hindsight we should have made this into an internal API `_enqueue_job()`.

I'm ok with refactoring `enqueue_job()` to support all the functionalities supported by `enqueue()` provided that:
1. The APIs remain backward compatible
2. All the enqueue logic are centralized in one place

[2022-02-25 07:42] jtfidje commented on #1404
I "fixed" this by creating a custom class that inherits from the RQ one and then just patch the function with the dependency code. I've done this for a couple of things so I run my own custom Worker, Queue and Job classes 🙂

[2022-02-25 13:49] caffeinatedMike commented on #1404
@jtfidje Would you consider contributing the "fix" via a PR? I'm sure it would be greatly appreciated by all those affected by this issue, myself included.

[2022-02-25 21:50] caffeinatedMike commented on #1625
The issue lies within the `Worker` class's usage of the `UnixSignalDeathPenalty` as the `death_penalty_class`
[code]

The solution would be to create a `WindowsSignalDeathPenalty` class that subclasses `BaseDeathPenalty` and implements a Windows-friendly version of `setup_death_penalty` and `cancel_death_penalty`

[2022-02-25 23:51] nepta1998 opened #1626 "job decorator doesn't allow on_failure and on_success parameters"
I'm using the decorator to create jobs but it does not allow me to add the function that is used for when a job fails the same for when it's  successful.

worker1_1  | 2022-02-25T23:37:44.496565875Z Traceback (most recent call last):
worker1_1  | 2022-02-25T23:37:44.496568669Z   File "/usr/local/lib/python3.9/site-packages/rq/worker.py", line 1061, in perform_job
worker1_1  | 2022-02-25T23:37:44.4

[2022-02-26 00:49] caffeinatedMike commented on #1625
@selwin I believe I found a feasible solution to allow `SimpleWorker` to work again on Windows. Please see below and let me know your thoughts.
[code]

Re-running the previously provided code using the `SimpleWindowsWorker` results in jobs being performed as expected.
[code]

[2022-02-26 15:53] caffeinatedMike commented on #1224
@MW3000 @selwin I'm also looking to accomplish this. Would something like below work as the `on_failure` callback to actually enqueued the dependent jobs?

[code]

Also, would this call to `enqueue_dependents` be a blocking call in the event there are a handful of jobs that are dependents? I ask because there's a while loop that monitors if all dependencies are met.

[2022-02-27 10:59] selwin commented on #1624
You'll need to run `rq worker --with-scheduler` to use the retry functionality. This is noted in the docs https://python-rq.org/docs/exceptions/#retrying-failed-jobs

[2022-02-27 10:59] #1624 closed

[2022-02-27 11:00] selwin commented on #1626
Do you mind opening a PR for this?

[2022-02-27 11:05] selwin commented on #1224
Yes, you could use `on_failure` callback to enqueue dependent jobs if you wish to. Having said that, I think it would be better to have a job dependency mechanism that enqueues the dependent jobs regardless of whether the parent job succeeds.

Well, Redis is inherently single threaded so it can only process one instruction at a time. You do need to be wary of race conditions though.

[2022-02-27 11:05] selwin commented on #1404
What errors did you run into?

[2022-02-27 11:09] selwin commented on #1625
Have you tested this death penalty class on Linux as well? I'm obviously ok with improving `SimpleWorker` to also work on other platforms.

If this code has been sufficiently tested, please open a PR for this.

[2022-02-27 11:55] caffeinatedMike commented on #1224
That's good to know and I agree with adding functionality for enqueueing dependents regardless of outcome.

I was more concerned about if the call would block the `rq worker`, not redis itself.

[2022-02-27 19:36] jtfidje commented on #1404
I followed the docs and did this:

[code]

Now I guess that `run_tests` has to be copied in from somewhere, but if I run `vagrant ssh -- "(cd /vagrant; ./run_tests)"` it fails cause the script does not exist.

[2022-02-28 06:28] nepta1998 commented on #1626
@selwin ok PR is open.

[2022-02-28 21:34] caffeinatedMike commented on #1404
@jtfidje I'm attempting a fix for this as well (here's [a link](https://github.com/caffeinatedMike/rq/commits/enqueue_job-depends_on-fix) to my branch]. I used the two tests [mentioned earlier](#issuecomment-787350631) in this thread with my changes, but the second still fails with my changes.

Would you be up to having a look? @selwin your input is welcome and appreciated as well.

`pytest test_q

[2022-03-01 00:49] caffeinatedMike commented on #1404
@jtfidje I'm attempting a fix for this as well (here's [a link](https://github.com/caffeinatedMike/rq/commits/enqueue_job-depends_on-fix) to my branch). I used the two tests [mentioned earlier](#issuecomment-787350631) in this thread with my changes, but the second test still fails.

Would you be up to having a look? @selwin your input is welcome and appreciated as well.

`pytest test_queue.py::Te

[2022-03-01 18:36] caffeinatedMike commented on #1224
@selwin I was actually just able to test this out and it unfortunately doesn't work. See below code:
[code]

Resulting logs:
[code]

Any idea on how I can accomplish this currently?

[2022-03-01 23:19] gabriels1234 commented on #758
Hi,
Any update on the original issue?

[2022-03-02 01:03] selwin commented on #1224
@caffeinatedMike that's because `queue.enqueue_dependents()` checks whether or not each job's [dependencies are met](https://github.com/rq/rq/blob/7be119068f31db165f8f3fea48d34a00ab587c02/rq/queue.py#L632) before enqueueing them. Remember that one job can have multiple dependencies.

What we can do is add a `check_dependencies` flag to this method. If set to `False`, we can skip the dependencies c

[2022-03-02 01:07] caffeinatedMike commented on #1224
@selwin I'm actually working on tests for the the official support of `Dependency(..., allow_failure=True)` functionality from PR #1611. I'm about to open up a PR that includes updates to that code.

[2022-03-02 01:18] selwin commented on #1224
Cool, let me know if there's something I can review. While you're at it, can you think of an alternative name for [dependency_allow_fail](https://github.com/rq/rq/pull/1611/files#diff-5ff734c15373fbcdb39d32faf0555265d8eaae657c1a6174e5e9b0dedd2815f7R424)?

[2022-03-02 01:20] #1626 closed

[2022-03-02 02:47] caffeinatedMike opened #1631 "BUG: Job status is not updated when checked in `on_success` and `on_failure` callbacks"
Currently, it appears that job status is stuck at `started` when checked within an `on_success` or `on_failure` callback. Since the job can have different statuses (at least when it comes to `on_failure`) I think it makes sense to update the job status before the worker invokes the callbacks.

## Code to reproduce

[code]

[2022-03-04 16:06] caffeinatedMike commented on #1404
@jtfidje How have your efforts faired?

[2022-03-05 14:21] selwin commented on #1631
Yes, what you said makes sense. The job's status should be changed to reflect it's latest status before being passed on to job callbacks.

[2022-03-08 05:55] jtfidje commented on #1404
Hi sorry! I haven't looked at it after I couldn't get the tests to run. Maybe you could walk me through your setup and how you run the tests? That would be of great help :)

[2022-03-10 01:04] #1625 closed

[2022-03-10 09:13] pirrofra opened #1632 "BUG: RQ fails with cython functions"
I'm trying to enqueue a job using functions from a python module compiled with cython.
The Enqueue fails with error
`on_success callback must be a function`
the type of the success callback is: `'cython_function_or_method'` and not `'function'`

This error is raised everytime a cython function is passed as the worker function, on_success callback and on_failure callback.

[2022-03-10 23:49] aparcar opened #1633 "`exc_info` not available when running jobs with `is_async=False`"
I'm running jobs that may raise exceptions which would be forwarded to the user via `job.exc_info`. I wanted to test this by setting the queue to sync (aka `is_async=False`). Now some jobs intentionally fail, however the `exc_info` is not set. It stays on `None` while the job status is set to *failed*.

Is this intended behavior? If not I'll look into fixing this.

[2022-03-11 17:22] caffeinatedMike opened #1634 "Job properties cannot be obtained once added to `ScheduledJobRegistry`, unlike all other registries"
Unlike all other registries, the `ScheduledJobRegistry` is a unique one wherein the jobs don't exist outside of the registry (as far as I can tell) since it is only queued when the future datetime arrives. With all other registries we can utilize the following to get a `Job` instance and access it's properties:

[code]

**So, my question is:**
How can we retrieve a job and its properties once it i

[2022-03-11 18:24] caffeinatedMike commented on #1404
@selwin I believe (I have yet to confirm though) this might be a bigger issue than originally thought. You state

Which is a troubling thought when reviewing the `Scheduler`'s [logic for enqueueing **jobs](https://github.com/rq/rq/blob/master/rq/scheduler.py#L165)** once they reach their set time. Going off of what you stated previously, does this mean that jobs with dependencies won't operate res

[2022-03-11 18:25] caffeinatedMike commented on #1404
@jtfidje I opted to utilize WSL on windows to develop. It's much simpler.

[2022-03-11 21:13] caffeinatedMike commented on #1404
@selwin I can confirm there is definitely a bug with the scheduler in regards to dependencies.

Script to reproduce
[code]

With 2 workers running both tasks are executed simultaneously, instead of j2 waiting for j1 to finish.
![dependency-issue-with-scheduler](https://user-images.githubusercontent.com/22151742/157967355-ab961e9e-57f0-4aba-aab3-4df9813f076d.png)

[2022-03-12 02:32] selwin commented on #1404
@caffeinatedMike yeah, it definitely looks like a bug. If a job is scheduled with a dependency, it should always go to `DeferredJobRegistry` instead of `ScheduledJobRegistry`.

You found so many bugs it's starting to make me look bad :(

[2022-03-12 02:33] selwin commented on #1404
@caffeinatedMike obviously I was joking about the last bit. Keep up the good work 😄

[2022-03-12 04:26] caffeinatedMike commented on #1404
@selwin sorry 😅

The good news for this bug is it all seems to tie back to `enqueue_job`. Solve that and scheduling (and all the above originally mentioned enqueue methods) should work again.

The problem is this scheduling issue and the allow_failure issue are blocking the a project that's otherwise ready for production 😔

[2022-03-15 00:37] caffeinatedMike commented on #1404
@selwin Can you have a look at my current work on this issue at https://github.com/caffeinatedMike/rq/tree/enqueue_job-depends_on-fix. I'm really struggling to resolve this. The current test results are abysmal.

[2022-03-15 07:07] jtfidje commented on #1404
@caffeinatedMike I just pulled your repo and tried running the tests (just noticed the run-in-docker thing.)
There are a lot more than two failing tests? Or have you done more changes since your message to me? :)

[2022-03-15 07:38] jtfidje commented on #1404
Can this be fixed by doing this:
  1. Remove lines 408 through 415 from `queue.py`
  2. Have the function `enqueue_call `return `self.enqueue_job(job, pipeline=pipeline, at_front=at_front)`
  3. Add the following just below line 563 in `queue.py.enqueue_job`
[code]

[2022-03-15 12:31] caffeinatedMike commented on #1404
@jtfidje if you review the commit history I made a bunch of changes yesterday (see my comment above) and it's causing a bunch of failures because I'm trying a bunch of different tweaks to find a solution.

If I the dependency issues aren't resolved soon I might just have to cut bait and opt for a different package.

[2022-03-15 19:42] caffeinatedMike commented on #1404
@jtfidje can you share the entire workaround? I only saw that you shared one custom class

[2022-03-18 09:27] DenysMoskalenko opened #1635 "Burst Mode Latency"
Hello guys, Can you pls think about adding a parameter to customiz a worker burst mode?
The need is adding some parameter witch can dellay worker quiting forsome time like 5 seconds, etc.Hello guys, Can you pls think about adding a parameter to customize a worker burst mode?
The need is in adding some parameter witch can dellay worker quiting forsome time like 5 seconds, etc. In this case worker w

[2022-03-23 00:23] Danilodum opened #1637 "Ratelimiting"
Hi

this is my current implementation for a simple ratelimiter.

[code]

Because I allow one worker to consume from multiple queues, the lpop can't block indefinitely. I'd like to have that timeout be in ms at least then, but I don't think this is a thing yet in redis-py?

Does anyone have a better approach/tips for improving this? Maybe I should just leave it at one queue per worker so it can blo

[2022-03-25 20:42] ejm714 opened #1639 "If no failure callback, exception is not raised"
There's a small bug in the recent change around failure callbacks in v.10.1.

If there is no failure callback but an error occurs, this gets swallowed rather than bubbled up to an exception. [This block](https://github.com/rq/rq/compare/v1.10...v1.10.1#diff-24e9998fb7718d4e0599f46e4e121f94ef08b56f8319805598d3ccb93fe6b0e4R584-R589) needs to handle the case where there is no failure callback. It sho

[2022-03-31 16:38] Seemone commented on #1637
I understood how to use it and tested it but from my tests it looks like multiple workers will pop without limits between the expiration and the reset of the ratelimit key PX. One worker works fine tho.

[2022-04-02 07:05] veejar opened #1641 "Feature Request: Log job running time and worker id"
It's will be very useful to see in log job running time to monitor long jobs and improve them.
Also often multiple workers run for the same queue, so it will be useful to see worker ID for job in log.

[2022-04-03 08:42] Sshuichi commented on #1418
This doesn't seem to work under Monterey anymore.
Any idea how to solve it?

[2022-04-04 08:20] veejar opened #1642 "Job decorator results_ttl default overrides worker's default value"
https://github.com/rq/rq/blob/master/rq/decorators.py#L18
Here "result_ttl=DEFAULT_RESULT_TTL" should be replaced with "result_ttl=None", because it overrides worker's default result_ttl, which is also DEFAULT_RESULT_TTL when not specified as argument for worker.

[2022-04-04 14:07] Danilodum commented on #1637
Hmmm, haven't used multiple workers yet, what would you suggest there?

[2022-04-04 14:25] Seemone commented on #1637
I am currently experimenting. I moved setting ratelimit_for into a modified version of lpop (that also reads the value from a key ":dequeue_interval" so you can store it in Redis per queue) that wraps it in a Redis.lock() and calling lpop with the non blocking option from the modified dequeue_any.
The problem I have is the relatively high load it generates while "idling". My use case involves hund

[2022-04-05 08:11] veejar opened #1643 "Horse killed job delete cause issues"
Steps to reproduce:
1. Start long-running job.
2. Kill this job using worker method "kill_horse".
3. Delete job from queue failed jobs using job.delete method.
4. Redis key "rq:failed:queue_name" will not be updated.

[2022-04-06 04:50] OlegZv commented on #1404
Just wanted to throw my +1 in here. Looking to do exactly this - have a dependency of scheduled jobs and would benefit from this fix!

[2022-04-06 13:11] ronlut opened #1644 "Configuring maintenance tasks interval, cleaning lock TTL and the dequeue_job timeout"
Hi. Amazing job with building rq.

Wondering whether there's a specific design/technical reason for not being able to configuring the maintenance tasks interval and the cleaning lock TTL.

I need tasks that were abandoned (worker killed for example) to be retried as fast as possible, so I don't want to wait 10 minutes until maintenance tasks will be run:
https://github.com/rq/rq/blob/d2dcc2fb6b43a

[2022-04-06 15:41] caffeinatedMike commented on #1404
@OlegZv - If you're pressed for time this can be implemented with relative ease using celery. I managed to switch over in a matter or days (coming from having zero experience with celery).

[2022-04-06 16:13] spietras commented on #1404
I guess it's something along the lines of:

[code]

This workaround works for me if you only use queues and workers from here. I know it's not pretty and I'm not 100% sure it works in all cases. You don't really need `PatchedScheduler` and `PatchedWorker` classes, but it just somehow looked better to me.

[2022-04-06 16:17] caffeinatedMike commented on #1404
@spietras Would you be open to creating a PR and testing against the existing tests?

[2022-04-06 18:53] spietras commented on #1404
I tried to add these changes to `enqueue_job` in `Queue` and I ran the tests locally and 17 of them failed, so this method certainly doesn't work in all cases. Can't really debug it much further right now.

[2022-04-08 12:50] veejar commented on #1643
Issue is related to job with is_stopped=True.
job.delete() - works incorrect then
job.failed_job_registry.remove(job.id) - works fine

[2022-04-12 15:55] zx8 opened #1645 "Support custom parameters to `on_success` and `on_failure` callbacks"
It would be nice if these functions accepted additional parameters so we could e.g. pass in reusable database clients/connections and avoid having to initialize them inline, when they are invoked..

One idea I had was to "smuggle" the database connection string within the `result` parameter of these functions, but it's a hacky way of achieving the desired result.

Thoughts?

[2022-04-12 16:39] lorecoccia-zcad commented on #1404
Hi all,
sorry for the question.. I have this issue using Queue.enqueue(....depends_on=...) .. I see the issue is still open, is there any other method I can use instead to enqueue a job that is dependant on a list of other jobs? Or this issue is on any method ?

Thanks

[2022-04-14 08:52] pgajdos opened #1646 "use unittest.mock instead of mock"
Could you please consider to utilize unittest.mock, as a fallback at least?

[2022-04-16 16:06] Brandhor opened #1647 "Canceled jobs are not removed from CanceledJobRegistry automatically"
Jobs in the other registries are removed automatically after 500 seconds but that's not the case for CanceledJobRegistry

[2022-04-17 06:04] evanphilipsmith commented on #689
When I run this code snippet in Python 3.10, I get the following error:
[code]
I believe this is because of limitations in `pickle` in newer versions of Python (https://github.com/rq/rq/issues/1413#issuecomment-785014951). What is the latest way to programmatically create more workers using `multiprocessing`?

[2022-04-29 17:47] lockie commented on #1356
NVM, I was able to fix it by showing call to `logging.basicConfig` in front of my task function.

[2022-05-03 07:54] dvaerum opened #1651 "Support for custom class in Job class for custom Failed-, Started-, Finished-, ... -JobRegistry classes?"
Both in the Queue class in the Worker class, can one find `queue_class` `job_class`
https://github.com/rq/rq/blob/v1.10.1/rq/queue.py#L40
https://github.com/rq/rq/blob/v1.10.1/rq/worker.py#L101-L102

But what about making it possible in the Job to support custom Failed-, Started-, Finished-, ... -JobRegistry is it something that would be interest for, if I were to make a pull request with it? 😁
Be

[2022-05-03 14:19] fehimaltinisik opened #1652 "Python worker(with scheduler) script is starting with a RuntimeError and an unpredictable delay."
Hi Folks!

I am trying to implement a custom Python script utilizing a _worker with scheduler_. The below _scheduler.py_ script:

- Processes the consecutive jobs posted by _.enqueu_ immediately without any problem.
- However the arrival of initial jobs posted by _.enqueue_ in and _.enqueue_at_ delays sometime. (about 6 minutes in below example even if they have been set to 1 minutes of delay. 15

[2022-05-05 03:43] purushnayak opened #1653 "Worker exits with exception immediately on starting via django"
I have a worker that is run via django inside a docker container. The redis server is also a docker container. If I restart the both the containers then everything works for a while and then I start seeing this. Restarting the worker container exits immediately with the following error.

[code]

[2022-05-05 10:12] lemueljay opened #1654 "Worker rq:worker found an unhandled exception, quitting..."
**ISSUE:** "Worker rq:worker : found an unhandled exception, quitting..." ValueError: time data '' does not match format '%Y-%m-%dT%H:%M:%SZ'

I am running a Django app which uses redis-rq and running 20 Heroku dyno workers. But it seems that rq workers throw an error on jobs that already timeout.

This ends up all the dyno workers crashing, unable to get back up, making Redis full of enqueued job

[2022-05-05 15:27] anhvut commented on #1631
I would like to add that in case of success, the result is not saved in the job yet when calling the callback.

[2022-05-12 16:10] BobReid commented on #1620
Yea that makes sense.

I am OK with option 2 as well.

If it is possible to have compatible signatures on the handlers, you could register the same handler for both cases is you do not care about the exact case, but the added flexibility is a good idea.

[2022-05-12 20:42] evanphilipsmith commented on #689
In case it helps someone else down the road, here's how I've been able to programmatically create more workers with `multiprocessing` in Python 3.10.

[code]

Alternatively, I've figured out a hacky way to make a `Redis` instance pickleable by creating a wrapper class that stores the metadata used to instantiate `Redis`, and deletes/reinitializes it when it is pickled/unpickled.
[code]

[2022-05-23 10:18] Cookie-YY opened #1665 "how to specify a pipeline to a worker"
when I want to start a worker in python. I use it in this way.

[code]

when call work(), it uses a pipeline in redis, how can I specify the pipeline?

**background info:** the redis cluster can't support some commands.

[2022-06-02 13:40] jonahmelhado commented on #1654
I'm having the same issue and I'm not passing any empty strings to the job but I'm using Python 3.10.2

[2022-06-09 10:48] juniarto-samsudin commented on #948
This issue only happened with 'default' queue. With other 'defined' queue ['low', 'high', etc] the module can be loaded perfectly. But as recommended by @idling-mind , just use string as function name.

`q = Queue(connection=redis_conn)
q.enqueue('my_package.my_module.my_func', 3, 4)
`

[2022-06-09 13:09] kucera-lukas opened #1668 "Classmethod serialization as part of job args fails"
#### Reproduce

[code]

#### Stacktrace
[code]

#### Environment:
`sys.argv`:
[code]
`CPython`: 3.9.8(3.9.8 (main, Nov  6 2021, 11:22:53) [GCC 9.3.0])

`rq` | 1.10.1
`django-rq` | 2.5.1

Enqueuing a `classmethod` as the function works fine.

[2022-06-10 10:05] dulestar commented on #1389
This problem still exists, and the active send_stop_job_command starts to retry again?

[2022-06-20 07:51] sankalpmukim commented on #859
Hey guys! This Python God I have on vc helped me a little. Try running this
`python -m pip install https://github.com/michaelbrooks/rq-win.git@c6e65e38f8a6ca99a0c8e0dd6fe35f9b92837cca`

If that doesn't work, try this:
`py -m pip install rq-win @ git+https://github.com/michaelbrooks/rq-win.git@c6e65e38f8a6ca99a0c8e0dd6fe35f9b92837cca`

but the thing would fail because both CMD and Powershell don't

[2022-06-20 13:01] ch99en commented on #1644
I'm facing the same problem, new worker won't perform the scheduled job until about 10 minutes later. I started the mq worker with scheduler by `worker.work(with_scheduler=True)`.

But finally I found a way(may be an illegal trick): starting the worker with burst mode before the longrun work:
[code]

[Burst mode](https://python-rq.org/docs/workers/#burst-mode)
1. helps to performing jobs as soon a

[2022-06-24 15:36] euanmacinnes opened #1669 "A canceled scheduled job stays in the scheduled queue and then executes anyway"
I have an issue where a job that has been scheduled, but the user has later decided to cancel it, stays in the scheduled queue, and does not move to the canceled queue. In addition, the scheduled job continues to execute anyway.

It's a reasonably simple workaround in a way, as the job knows it's canceled, so it can be checked at the start prior to the job executing, however that then results in t

[2022-06-27 16:09] anhvut opened #1670 "Add Worker parameter to override CALLBACK_TIMEOUT"
Hello,

It would be great to add a `callback_timeout` parameter for `Worker`.
As a workaround I do this hacky thing

[code]

Thanks,
Anh-Vu

[2022-06-29 06:14] gaffney commented on #758
We have used and loved RQ for 4 years but now that our company is experiencing heavier loads and using background jobs more extensively we are running into this issue quite often. Unfortunately this is a deal breaker as this is turning into a near-constant on-call headache.

Happy to help debug in the meantime as I won't be migrating the code for at least a few weeks.

Also worth mentioning, we ar

[2022-06-29 06:54] selwin commented on #758
@gaffney do you mind confirming this?

1. When the jobs don't run, do they have complete data (all keys in hashes are present)?
2. Do the job keys have TTL assigned to them? (maybe they have been executed but not marked as such)
3. Are the job keys present in the queue (Redis list)? The queue keys are prefixed with `rq:queue` https://github.com/rq/rq/blob/master/rq/queue.py#L42

[2022-06-30 04:31] ch99en commented on #1644
After having further experience, I find it only works sometimes. The issue is still unresolved. [😔](https://emojipedia.org/pensive-face/)

[2022-06-30 15:54] baslia commented on #758
Same issue here, randomly the queue stopped working.

[2022-07-01 00:23] selwin commented on #1633
Sorry for the late response, no definitely not the intended behavior ;)

[2022-07-01 00:23] selwin commented on #1646
PR for this is welcome :)

[2022-07-01 00:27] selwin commented on #1634
Actually I'm not aware of this. Jobs in the `ScheduledJobRegistry` should be a regular job like others. Are you sure you're function is not failing because it's trying to access a property not in the job hash?

[2022-07-01 00:27] selwin commented on #1639
Mind opening a PR for this?

[2022-07-01 00:30] selwin commented on #1670
Will accept a PR for this.

[2022-07-01 00:31] selwin commented on #1651
What kind of features specifically do you need in implementing custom registry classes?

[2022-07-01 00:57] selwin commented on #1669
The real fix is that if a job is canceled, it should also be removed from `ScheduledJobRegistry` so it doesn't get executed. Mind opening a PR for this?

[2022-07-01 00:59] selwin commented on #1645
In general, I support the idea of passing custom parameters to `on_success` and `on_failure` callbacks, but it comes down to whether we can do it elegantly. If you have some ideas on how we can achieve this, let me know before you work on a PR.

[2022-07-01 00:59] selwin commented on #1642
Mind opening a PR for this?

[2022-07-01 02:27] selwin commented on #1639
Fixed in https://github.com/rq/rq/pull/1671

[2022-07-01 02:27] #1639 closed

[2022-07-03 19:23] dvaerum commented on #1651
Mainly, I want to be able to overwrite Redis key naming scheme

[2022-07-06 10:42] duggan commented on #1644
Just FYI, a workaround for this is subclassing the `Queue` and `Worker` classes to modify those methods mentioned, e.g.:

[code]

These can then be invoked on the command line with something like:

[code]

Tweak to suit, not sure if there are any unintended side effects yet, for now it just seems to be a moderate increase in resource usage on the backing redis service. Making these timeouts config

[2022-07-10 16:23] aparcar opened #1672 "Schedule job for all workers"
Hi, I'd like to schedule a *cleanup* job for all running workers, ideally periodically. Looking at [rq-scheduler](https://github.com/rq/rq-scheduler) I can't find any way to make it worker specific. Is there such functionality? Is there a better approach?

[2022-07-12 11:21] y09esh commented on #758
Same issue i am also facing. before upgrading packages everything was working fine. it seems that latest versions of redis and rq not supporting each other. can anyone confirm which versions are working fine?

[2022-07-24 00:03] selwin commented on #1672
Hey, rq-scheduler is no longer being developed.`rq-scheduler` was my first attempt in creating scheduling features in RQ, but sometime ago I build scheduling functionalities into [RQ here](https://github.com/rq/rq/blob/master/rq/scheduler.py#L30). The scheduler implementation in RQ is worker specific.

What kind of cleanup job are we talking about here? RQ workers themselves [periodically run clea

[2022-07-24 00:06] selwin commented on #1654
You should run the newest version of RQ.

[2022-07-24 00:06] #1654 closed

[2022-07-24 00:07] selwin commented on #1653
Juding from this error here:

�[36mmy-container-1 exited with code 1

I think you're running RQ against a read only Redis server.

[2022-07-24 00:07] #1653 closed

[2022-07-24 00:09] selwin commented on #1652
This is not a bug or feature request about RQ itself so I'm closing this issue.

[2022-07-24 00:09] #1652 closed

[2022-07-24 00:12] selwin commented on #1665
`worker.work()` itself does not accept `pipeline` argument. You'll need to be more specific as to which Redis commands that RQ uses that's not supported by Redis cluster.

[2022-07-24 00:12] #1646 closed

[2022-07-24 01:21] selwin commented on #1647
Canceled jobs don't get automatically deleted unless the user chooses to do so (similar to jobs that are not yet executed). So this is a not a bug, unless you're finding cases when jobs get deleted, their entries in CanceledJobRegistry are not deleted.

I'm closing this issue for now, please re-open if you still think there's a bug.

[2022-07-24 01:21] #1647 closed

[2022-07-24 01:22] selwin commented on #1644
@ronlut no specific reasons as to why maintenance tasks are run every 10 minutes. I'm open to adding a parameter to RQ's cli command to change this to other intervals. PR welcome :)

[2022-07-24 03:31] selwin commented on #1641
PR for this is welcome :)

[2022-07-24 03:56] selwin commented on #1643
Fixed in https://github.com/rq/rq/pull/1677

[2022-07-24 03:56] #1643 closed

[2022-07-24 10:58] aparcar commented on #1672
In my case the workers set up different SDKs and should frequently check when those SDKs were used the last time. In case they've been inactive for some time, it should remove those to save some storage space. Currently the action is performed after every build but a nicer approach would be tun run once a day or so.

Looking at the code I don't see a way to *hook in* my own cleanup functions.

[2022-07-24 11:06] selwin commented on #1672
I think there are two possibilities:
1. Custom callbacks for maintenance tasks
2. Enhance scheduled jobs so that support repeats with custom intervals. rq-scheduler already supports this but I wasn’t too happy about the implementation, which is why I haven’t brought this functionality over.

Which one of the two approaches suits your use case more?

[2022-07-25 06:29] pgajdos commented on #1646
Thank you!
And sorry I get not it sooner.

[2022-07-26 22:32] atainter opened #1678 "All jobs silently fail after upgrading from 1.8.0 -> 1.8.1+ with "work-horse terminated unexpectedly""
I'm not sure what is causing this. Here is the warning in the console:

[code]

Looks like the job doesn't make it to the failed job registry either because I can't fetch the job or print exc info. Any ideas?

[2022-07-26 22:35] atainter commented on #1678
After restarting, I was able to pull job exc_info. I also logged info about my local Redis instance which looks correct

[code]

[2022-07-28 15:53] y4n9squared opened #1680 "Bulk Enqueue Documentation Inconsistent with API"
In the documentation for [Bulk Job Enqueuing](https://python-rq.org/docs/#bulk-job-enqueueing), it states that

This does not appear to be the case as `Queue.parse_args` accepts arguments for `on_success` and `on_failure` callbacks added in 1.9.0 but `Queue.prepare_data` does not.

https://github.com/rq/rq/blob/145884fcd5a016ee353da9ce1a586044bf058f45/rq/queue.py#L413-L425

It would be nice if thi

[2022-07-30 09:48] selwin commented on #1678
Hmm I'm not sure. Are you able to add logging statements somewhere around here to see what's going on? https://github.com/rq/rq/blob/master/rq/worker.py#L850

Is this only happening on a single server? 1.8.1 has been out for a while so this bug is unlikely to happen to a lot of people.

[2022-07-30 09:48] selwin commented on #1680
Yeah, `on_success` and `on_failure` were both added after `prepare_data()`. Do you mind opening a PR for this?

[2022-07-31 18:18] akabinds opened #1684 "is there support for async Redis clients?"
When I attempt to use a Redis client provided from `aioredis` or `redis.asyncio`, creating a `Worker` using this connection errors with the following:
[code]

The thing that is stumbling me is that `Redis.execute_command` is never called anywhere by me. It seems like there is something internally that is missing. This is my first time using `rq` and I decided just to switch back to normal `redis.R

[2022-08-01 01:54] selwin commented on #1684
We simply haven't gotten around to testing this using async Redis clients yet. This is not something I'm actively pursuing but I'd be happy to accept PRs for this.

[2022-08-01 03:30] akabinds commented on #1684
Ok great! Thank you for the clarification.

[2022-08-01 22:22] aehlke commented on #1521
It would be cool to have this work so that an attempt to insert duplicate tasks can behave idempotently

[2022-08-02 01:37] selwin commented on #1521
Agreed, this would be a nice feature to have. If someone wants to take a crack at this, I have some ideas on how this can be implemented.

[2022-08-02 03:29] y4n9squared commented on #1680
@selwin I've opened a PR with the changes.

Noticed existing flake8 checks run in Github Actions are flagging violations but workflow is succeeding because the command still returns zero exit code. Please advise on how to properly run linters and/or if tests are needed.

[2022-08-02 03:34] selwin commented on #1680
Can we run flake8 only against newly added/modified lines?

[2022-08-02 15:15] selwin commented on #1680
@y4n9squared do you mind modifying the Github Actions workflow along with your PR such that flake8 flags violations, but are run only against modified lines? This way we can ensure that incoming changes are always flake8 compliant.

[2022-08-02 16:00] y4n9squared commented on #1680
Don't mind at all, but I feel it would be better in a separate PR. There are only 15 lint violations in the actual source tree and 30 in the tests directory. I feel like a good PR can just fix these and remove `--exit-zero` from the `flake8` invocation so that all lints are gated and then the entire project can be lint-free going forward.

[2022-08-02 23:08] selwin commented on #1680
Agreed, thanks!

[2022-08-02 23:09] #1680 closed

[2022-08-03 23:32] #1684 closed

[2022-08-04 15:00] interrogator commented on #1645
I would really appreciate this, for the same reason as @zx8 , I would like access to a non-picklable database connection.

Could the `args` and `kwargs` that get passed to jobs be stored without pickling, and then made accessible as `*args` and `**kwargs` in the `on_success` and `on_failure` callbacks?

[2022-08-04 23:20] selwin commented on #1645
I’d be happy tonaccept a PR implementing custom args.

[2022-08-05 06:38] jtfidje opened #1689 "TypeError: dependencies_are_met() got an unexpected keyword argument 'exclude_job_id'"
After upgrade from 1.10.1 -> 1.11.0 I get the error message in the title. Was this a planned change?

[2022-08-05 06:47] jtfidje opened #1690 "Is there a way to make sure dependants are automatically queued at the front of the queue?"
Currently I have a custom Queue class that implements this feature by overriding the `enqueue_dependents` method, but after upgrading to 1.11 stuff breaks as a consequence of my overrides.

Is there a way to achieve this functionality without custom code?

[2022-08-05 07:31] jtfidje opened #1691 "Is it possible to configure the JobStatus.CANCELED state as a "failing" state for dependencies?"
We us RQ in such a way where canceled parents should _not_ lead to any dependents running / executing. Is this something that is possible to configure?

[2022-08-05 12:52] jtfidje opened #1692 "Finished jobs not queueing dependants"
In 1.11 I now have a bug where dependencies are not queued because the "parent" job is not considered finished when `queue.enqueue_dependents(job, pipeline=pipeline)` is called in `worker.handle_job_success`.

When `dependencies_are_met` are called on the dependants, `parent_job` is not passed and thus the check fails because the parent has not yet been set to `JobStatus.FINISHED`

Is this intende

[2022-08-05 18:29] jpbakke opened #1693 "Dependent Job Queueing Order Issue"
RQ uses redis SETS store the dependent jobs in the deferred registry.  When the set of dependents is retrieved, the SMEMBER function in redis is used.  Unfortunately, this set function does not guarantee the order of dependents.  I have situation where I want the dependents to be queued in a specific order after their dependency completes and currently this order is non-deterministic due redis usi

[2022-08-07 03:58] selwin commented on #1691
I think canceled jobs should not lead to dependents running or executing. Is this not the case? If it's not, then it's a bug that should be fixed.

[2022-08-07 03:59] selwin commented on #1692
No, this is not intended. Let me check.

[2022-08-07 04:01] selwin commented on #1693
I'm ok with this change. Do you mind opening a PR for this?

[2022-08-07 04:05] selwin commented on #1690
I'm happy to accept a PR for this. The newly introduced `Dependency` class gives us a good way of controlling how dependencies are handled. https://github.com/rq/rq/blob/5b95725dc4410634a658bda9aa59188eaeaf87ea/rq/job.py#L41

The API should be as follows:
[code]

Mind opening a PR for this?

[2022-08-07 04:07] selwin commented on #1689
We had to make some changes to accommodate the new `Dependency`. `dependencies_are_met` now accept `parent_job` instead of `exclude_job_id`.  https://github.com/rq/rq/blob/9db728921d92b3edc8107154e07362b3ed7a8e24/rq/job.py#L985

[2022-08-07 04:07] #1689 closed

[2022-08-07 04:13] selwin commented on #1692
There's a test on job being enqueued when it's dependencies have finished here https://github.com/rq/rq/blob/5b95725dc4410634a658bda9aa59188eaeaf87ea/tests/test_dependencies.py#L39 so I don't think there's any issues here.

I'm closing this issue for now, please reopen if you can provide more details on how this fails for you.

[2022-08-07 04:13] #1692 closed

[2022-08-07 04:36] selwin commented on #1651
Well, there have been requests about adding support for namespaces. I suppose this is something we can consider, so you can do something like:
[code]

I don't mind accepting a PR for this feature, but I'll warn you in advance that this will likely touch many areas in RQ's code base so the PR would be rather large.

[2022-08-07 05:03] jpbakke commented on #1693
Yes, I can make the changes and test in a few days and generate a PR for it.

[2022-08-07 05:29] selwin commented on #1693
Remember to take backwards compatibility into account. If there are dependencies, you'll need to first check the sorted set before falling back to the older set structure.

[2022-08-07 06:18] #1691 closed

[2022-08-08 10:00] interrogator commented on #1645
I looked into the source, if I understand correctly, the callbacks are actually run by the worker? If so, I don't know if it's possible to pass non-picklable arguments to them from the non-worker...

For @zx8 , if it's a single DB connection that doesn't change from startup, I figured out one way to do it ... you can run a customised worker that runs code like this:

[code]

Then during your callb

[2022-08-09 08:18] jtfidje commented on #1691
Thank you for getting around to this so fast!

[2022-08-09 08:19] jtfidje commented on #1692
Thanks. This was indeed an issue on my side that I must have overlooked.
Sorry for the inconvenience!

[2022-08-09 08:23] jtfidje commented on #1690
Sure!

[2022-08-10 18:48] Manouchehri commented on #1645
The callbacks are executed by the rq worker, not the thread that creates the Queue/Job. This isn't super well documented (but is a bit obvious once you grab coffee and realize that your error statements are occurring in a different terminal.)

In my case, I'm trying to notify the non-Worker about the result of a Worker (without resorting to polling).

[2022-08-14 21:55] lowercase00 commented on #758
@baslia and @y09esh can you provide more information on the scenarios, versions and conditions you've encountered this issue? this is important to try to replicate and fix it.

[2022-08-15 14:19] RamonGiovane opened #1697 "Async job camm"

[2022-08-15 14:20] #1697 closed

[2022-08-15 15:01] RamonGiovane commented on #1697
Now I don't know if the problem is with job.enqueue or with SimpleWorker.work().

I already tried `Queue('test_queue', is_async=False)`

[2022-08-15 22:00] lowercase00 commented on #1697
I think this is a side effect of how async is implemented. Related to [this discussion](https://github.com/rq/rq/pull/1405).
I imagine checking for an existing loop should solve this. I'm not sure how this ended up with more than one loop running with the SimpleWorker though

[2022-08-16 01:10] lowercase00 commented on #1697
@RamonGiovane I don't know your exact setup, but some experiments:
[code]

[code]
In one terminal window `rq worker` and in the other `python3 -m app.app.py` works.
If I use the simple worker with burst, I have an error `RuntimeWarning: coroutine 'async_job_sample' was never awaited`.
If I use `async=False` I also get a `RuntimeWarning.....`

The current implementation for the job execution checks

[2022-08-16 01:32] RamonGiovane commented on #1697
Yes. Thanks for the answer. Maybe the issue title is a bit misleading. 😅

I was running some async tests using [Ward](https://ward.readthedocs.io/en/latest/)  test framework (I omitted that in the snippet I provided, thought it was irrelevant to the issue).

I don't know how they use `asyncio` under the covers but reasonable that when I run the tests, a new loop is created by Ward.

I'm new to RQ

[2022-08-16 01:41] lowercase00 commented on #1697
I have a similar case, although I use a real worker (even for testing - I use `pytest` w/ asyncio plugin).
What I *think* is happening is: `ward` runs a `asyncio.run(...)` as the entry point. This creates a new loop. When you call the function from an async context, the `run_until_complete` in the `execute` method only waits for the "top-level" (for lack of a better word) loop, so it indeed doesn'

[2022-08-17 23:54] lowercase00 commented on #1590
For future reference, a first test is linked here https://github.com/rq/rq/pull/885

[2022-08-17 23:56] lowercase00 commented on #45
For future reference, a first test with a GeventWorker is linked here: https://github.com/rq/rq/pull/885

[2022-08-18 14:32] yomajo commented on #1321
Similar, but not exact. Expected to be able to save inside job, but best I could do is save on route and pass path to job function.

On route I have
[code]

End of exception:
[code]
This fails to deserialize, so I'm assuming rq does not allow FileStorage object as function argument.

[2022-08-19 09:51] yomajo opened #1699 "fetch_many can't see connection passed flask's g object."
Flask: 2.2.0
RQ: 1.11.0
Redis: 4.3.4

Following [this tutorial](https://beenje.github.io/blog/posts/running-background-tasks-with-flask-and-rq/) (Third version), I have setup my connection in [I don't know exactly what] context like this:

[code]
where `get_redis_conn` is:
[code]

With this setup, on route I can successfully fetch job without connection argument as: `job = Job.fetch(job_id)`.

How

[2022-08-19 14:19] nw-ct opened #1701 "Creating Jobs with the same ID has unexpected behavior"
### Expected behavior:

- Enqueuing two jobs with the same ID on the same queue should only keep the later one
- Enqueuing a job in two different queues with the same job ID should enqueue both jobs

### Actual behavior:

- Enqueueing two jobs with the same ID on the same queue keeps two jobs, but the data on the first job is overwritten by the data on the second job.
- Enqueuing a job in two diff

[2022-08-21 11:37] nicbou opened #1702 "rq overrides default loglevel"
I wanted to set the rq.worker log level to "WARNING" to remove noise from my logs. This was my logging configuration:

[code]

I kept seeing INFO messages from rq.worker. They had the correct colour and format, so I knew that the config worked properly, but the loglevel was ignored. [This person](https://stackoverflow.com/questions/60255188/python-rq-worker-not-honoring-djangos-logging-config) has

[2022-08-21 15:06] nicbou commented on #1119
@selwin, as the person above pointed out, you can't just ignore the issue when it kills your workers.

[2022-08-21 15:16] nicbou commented on #1119
I had this issue, and a subsequent syntax error killed the workers. The syntax error was caused by an outdated Redis version.

[2022-08-25 06:54] pujanisgreat commented on #1309
I am still not be able to do it.

[2022-08-25 20:07] utopictown opened #1703 "[Question] how do I run worker in my FastAPI docker project"
i have tried
[code]
wouldnt do it, it didnt connect to my redis

do i need to just create separate dockerfile for worker and connect to same redis?

edit:
tried to create separate dockerfile just to run worker but the worker need complete feature of the main app like db, config, etc. wouldnt it mean i need 2 container exactly same just to run the app and worker?

[2022-09-06 15:26] odarbelaeze commented on #1703
Hi @utopictown, you should probably use a separate docker container for your `rq workers`, and yes you can use the same image for your web application and worker.

[2022-09-07 02:49] fizzyfly commented on #1699
9/5000
Perhaps the Redis connection failed. You can try this.
`print(g._redis_conn )`
`print(g._redis_conn and g._redis_conn .ping())`

[2022-09-07 10:08] utopictown commented on #1703
thanks for your reply, i ended up using supervisord inside docker, so i only need 1 container

[2022-09-07 10:08] #1703 closed

[2022-09-13 07:57] rggjan opened #1706 "Reading a job status can be inconsistent with the rest of the job"
There is an issue where reading a job status can be inconsistent with the rest of the job
When a job is successful, it first updates the status of the job (including on redis):

https://github.com/rq/rq/blob/153d29cce74cf1143a5f6bbe2672e7fb55b9abfe/rq/worker.py#L1030

Then, in a second call, it updates the rest of the fields, especially the job result:

https://github.com/rq/rq/blob/153d29cce74cf1

[2022-09-14 16:40] milesjwinter opened #1707 "Scheduler heartbeats for queues it doesn't have locks on"
When managing multiple queues, the `RQScheduler` can heartbeat for queues it does not have a lock on. This prevents other workers scheduler's from acquiring locks and starting a new scheduler in the event of a schedulers death.
https://github.com/rq/rq/blob/v1.11/rq/scheduler.py#L181
[code]
`for name in self._queue_names` should be  `for name in self._acquired_locks`.

[2022-09-15 13:41] alekh1stzoom commented on #758
In my case the jobs were getting enqueued, as well there was a worker, but still no jobs were getting executed, had to start another worker manually, which executed all the pending tasks. This is weird.

[2022-09-20 07:57] wattux commented on #1419
@aytey Any updates on this? Do you still plan to give a PR for this a try? I'd love to see this function being added, and could attempt a PR too.

[2022-09-22 03:52] selwin commented on #1707
Do you mind creating a PR for this?

[2022-09-22 03:55] selwin commented on #1706
Yeah, I think `worker.handle_job_success()` should accept `pipeline`as an argument so all these changes can be saved in a single pipeline.

[2022-09-22 03:56] selwin commented on #1702
Mind making a PR to fix this?

[2022-09-22 04:20] selwin commented on #1701
Yeah, I think we can try prefixing the job ID with the name of the queue. But I'm not sure if this will be backwards compatible.

Alternatively, I think we can add a note on the docs that job IDs have to be unique globally.

Related to this I also want to implement duplicate detection based on job ID.

[2022-09-22 07:10] rggjan commented on #1706
Actually, I just realized that the transactions are supposed to run in a `pipeline`:
https://github.com/rq/rq/blob/153d29cce74cf1143a5f6bbe2672e7fb55b9abfe/rq/worker.py#L1012

However, the issue is that `enqueue_dependents` doesn't call `multi` in all cases (which is required to make the `pipeline` work after the `watch`), as claimed by the comment: https://github.com/rq/rq/blob/153d29cce74cf1143a

[2022-09-22 13:05] nw-ct commented on #1701
Thanks for the response selwin!

Prefixing the job_id with the name of the queue would fix the situation where the queues are different, but there would still be an issue in the situation where the queues are the same, right?

Documenting something like: "Job IDs should be globally unique - enqueueing two jobs with the same ID has unpredictable behavior" would help devs avoid this situation in the

[2022-09-22 21:54] milesjwinter commented on #1707
@selwin No problem, done.

[2022-09-23 00:41] selwin commented on #1706
Do you mind making a PR for this?

[2022-09-23 00:48] #1707 closed

[2022-09-23 01:15] selwin commented on #1669
Upon checking the code, this logic is already here. https://github.com/rq/rq/blob/840438559261fd64b07d1bce489d352e6d553da5/rq/job.py#L803

[2022-09-23 01:15] #1669 closed

[2022-09-27 01:29] Amitdedhia6 opened #1714 "Getting DeserializationError, can someone help?"
### Discussed in https://github.com/rq/rq/discussions/1713

<div type='discussions-op-text'>

<sup>Originally posted by **Amitdedhia6** September 26, 2022</sup>
Hi,

I am using redis queue for the first time. I am having many queues and I implemented using several classes. There is a base class and several derived classes for each queue. The job function is an abstract method defined in base class

[2022-09-27 18:19] y4n9squared opened #1716 "Reliable way to get all jobs submitted to a work queue?"
### Discussed in https://github.com/rq/rq/discussions/1708

<div type='discussions-op-text'>

<sup>Originally posted by **y4n9squared** September 17, 2022</sup>
There is a short period of time between when the worker dequeues a job

https://github.com/rq/rq/blob/153d29cce74cf1143a5f6bbe2672e7fb55b9abfe/rq/worker.py#L674-L677

to when the horse puts the job into the started job registry during the